In [55]:
import pandas as pd

import geopandas as gpd

import contextily as ctx

import matplotlib.pyplot as plt

# for interactive plots
import plotly.express as px

In [23]:
gdf1 = gpd.read_file('acs2019_5yr_B01003_14000US06037222001.geojson')

In [3]:
df1 = pd.read_csv('ACSDT5Y2011.B01003_data_with_overlays_2022-02-18T183522_2.csv')

In [24]:
gdf1.head()

,geoid,name,B01003001,"B01003001, Error",geometry
0,05000US06037,"Los Angeles County, CA",10081570.0,0.0,"MULTIPOLYGON (((-118.70339 34.16859, -118.7033..."
1,14000US06037101110,"Census Tract 1011.10, Los Angeles, CA",4283.0,443.0,"MULTIPOLYGON (((-118.30229 34.25870, -118.3009..."
2,14000US06037101122,"Census Tract 1011.22, Los Angeles, CA",3405.0,334.0,"MULTIPOLYGON (((-118.30334 34.27371, -118.3033..."
3,14000US06037101210,"Census Tract 1012.10, Los Angeles, CA",6347.0,484.0,"MULTIPOLYGON (((-118.29945 34.25598, -118.2979..."
4,14000US06037101220,"Census Tract 1012.20, Los Angeles, CA",3702.0,276.0,"MULTIPOLYGON (((-118.28593 34.25227, -118.2859..."

In [26]:
gdf1.tail()

,geoid,name,B01003001,"B01003001, Error",geometry
2342,14000US06037980031,"Census Tract 9800.31, Los Angeles, CA",1175.0,178.0,"MULTIPOLYGON (((-118.29105 33.75378, -118.2905..."
2343,14000US06037980033,"Census Tract 9800.33, Los Angeles, CA",16.0,23.0,"MULTIPOLYGON (((-118.24897 33.75590, -118.2470..."
2344,14000US06037990100,"Census Tract 9901, Los Angeles, CA",0.0,12.0,"MULTIPOLYGON (((-118.95114 33.99643, -118.9505..."
2345,14000US06037990200,"Census Tract 9902, Los Angeles, CA",0.0,12.0,"MULTIPOLYGON (((-118.63598 34.03255, -118.6325..."
2346,14000US06037990300,"Census Tract 9903, Los Angeles, CA",0.0,12.0,"MULTIPOLYGON (((-118.47656 33.75038, -118.4661..."

In [25]:
df1.head()

,B01003_001E,B01003_001M,geoid,NAME
1,5012,424,1400000US06037101110,"Census Tract 1011.10, Los Angeles County, Cali..."
2,3584,388,1400000US06037101122,"Census Tract 1011.22, Los Angeles County, Cali..."
3,6529,533,1400000US06037101210,"Census Tract 1012.10, Los Angeles County, Cali..."
4,2751,319,1400000US06037101220,"Census Tract 1012.20, Los Angeles County, Cali..."
5,4123,332,1400000US06037101300,"Census Tract 1013, Los Angeles County, California"

In [27]:
df1.tail()

,B01003_001E,B01003_001M,geoid,NAME
2342,1017,161,1400000US06037980031,"Census Tract 9800.31, Los Angeles County, Cali..."
2343,4,4,1400000US06037980033,"Census Tract 9800.33, Los Angeles County, Cali..."
2344,0,95,1400000US06037990100,"Census Tract 9901, Los Angeles County, California"
2345,0,95,1400000US06037990200,"Census Tract 9902, Los Angeles County, California"
2346,0,95,1400000US06037990300,"Census Tract 9903, Los Angeles County, California"

In [6]:
df1 = df1.rename(columns = {'GEO_ID':'geoid'})

In [28]:
gdf1 = gdf1.drop([0])

In [8]:
df1 = df1.drop([0])

In [29]:
gdf1.head()

,geoid,name,B01003001,"B01003001, Error",geometry
1,14000US06037101110,"Census Tract 1011.10, Los Angeles, CA",4283.0,443.0,"MULTIPOLYGON (((-118.30229 34.25870, -118.3009..."
2,14000US06037101122,"Census Tract 1011.22, Los Angeles, CA",3405.0,334.0,"MULTIPOLYGON (((-118.30334 34.27371, -118.3033..."
3,14000US06037101210,"Census Tract 1012.10, Los Angeles, CA",6347.0,484.0,"MULTIPOLYGON (((-118.29945 34.25598, -118.2979..."
4,14000US06037101220,"Census Tract 1012.20, Los Angeles, CA",3702.0,276.0,"MULTIPOLYGON (((-118.28593 34.25227, -118.2859..."
5,14000US06037101300,"Census Tract 1013, Los Angeles, CA",3884.0,394.0,"MULTIPOLYGON (((-118.27822 34.25068, -118.2782..."

In [30]:
df1.head()

,B01003_001E,B01003_001M,geoid,NAME
1,5012,424,1400000US06037101110,"Census Tract 1011.10, Los Angeles County, Cali..."
2,3584,388,1400000US06037101122,"Census Tract 1011.22, Los Angeles County, Cali..."
3,6529,533,1400000US06037101210,"Census Tract 1012.10, Los Angeles County, Cali..."
4,2751,319,1400000US06037101220,"Census Tract 1012.20, Los Angeles County, Cali..."
5,4123,332,1400000US06037101300,"Census Tract 1013, Los Angeles County, California"

In [31]:
tpop = pd.merge(gdf1, df1)

In [32]:
tpop = gdf1.merge(df1,on=['geoid'])

In [33]:
tpop.head()

Empty GeoDataFrame
Columns: [geoid, name, B01003001, B01003001, Error, geometry, B01003_001E, B01003_001M, NAME]
Index: []

In [38]:
df1.sample(10)

,B01003_001E,B01003_001M,geoid,NAME
1594,4956,424,1400000US06037533601,"Census Tract 5336.01, Los Angeles County, Cali..."
1800,5375,243,1400000US06037554518,"Census Tract 5545.18, Los Angeles County, Cali..."
1631,6135,532,1400000US06037535300,"Census Tract 5353, Los Angeles County, California"
1663,3468,651,1400000US06037540600,"Census Tract 5406, Los Angeles County, California"
319,3117,423,1400000US06037139401,"Census Tract 1394.01, Los Angeles County, Cali..."
1871,7676,590,1400000US06037573100,"Census Tract 5731, Los Angeles County, California"
524,4333,438,1400000US06037204810,"Census Tract 2048.10, Los Angeles County, Cali..."
1222,5087,541,1400000US06037407801,"Census Tract 4078.01, Los Angeles County, Cali..."
955,5512,379,1400000US06037294302,"Census Tract 2943.02, Los Angeles County, Cali..."
2079,6164,450,1400000US06037651222,"Census Tract 6512.22, Los Angeles County, Cali..."

In [37]:
gdf1.sample(10)

,geoid,name,B01003001,"B01003001, Error",geometry
193,14000US06037124103,"Census Tract 1241.03, Los Angeles, CA",1950.0,251.0,"MULTIPOLYGON (((-118.38778 34.19030, -118.3866..."
808,14000US06037240900,"Census Tract 2409, Los Angeles, CA",6736.0,648.0,"MULTIPOLYGON (((-118.26952 33.93201, -118.2695..."
377,14000US06037185202,"Census Tract 1852.02, Los Angeles, CA",3627.0,450.0,"MULTIPOLYGON (((-118.22656 34.09795, -118.2265..."
1677,14000US06037541604,"Census Tract 5416.04, Los Angeles, CA",5917.0,453.0,"MULTIPOLYGON (((-118.21681 33.91233, -118.2156..."
967,14000US06037294900,"Census Tract 2949, Los Angeles, CA",3853.0,326.0,"MULTIPOLYGON (((-118.28247 33.77888, -118.2819..."
1181,14000US06037405201,"Census Tract 4052.01, Los Angeles, CA",4933.0,442.0,"MULTIPOLYGON (((-117.96038 34.08647, -117.9603..."
1371,14000US06037462500,"Census Tract 4625, Los Angeles, CA",6146.0,636.0,"MULTIPOLYGON (((-118.12032 34.16907, -118.1191..."
768,14000US06037237201,"Census Tract 2372.01, Los Angeles, CA",3814.0,326.0,"MULTIPOLYGON (((-118.30240 33.98325, -118.3023..."
1590,14000US06037533402,"Census Tract 5334.02, Los Angeles, CA",4240.0,303.0,"MULTIPOLYGON (((-118.20092 33.98842, -118.2008..."
44,14000US06037106405,"Census Tract 1064.05, Los Angeles, CA",4758.0,562.0,"MULTIPOLYGON (((-118.45671 34.31299, -118.4555..."

## Erik's runthrough

In [56]:
totpop19 = gpd.read_file('acs2019_5yr_B01003_14000US06037222001.geojson')

In [75]:
totpop11 = pd.read_csv('ACSDT5Y2011.B01003_data_with_overlays_2022-02-18T183522_2.csv')

In [58]:
totpop19.head(5)

,geoid,name,B01003001,"B01003001, Error",geometry
0,05000US06037,"Los Angeles County, CA",10081570.0,0.0,"MULTIPOLYGON (((-118.70339 34.16859, -118.7033..."
1,14000US06037101110,"Census Tract 1011.10, Los Angeles, CA",4283.0,443.0,"MULTIPOLYGON (((-118.30229 34.25870, -118.3009..."
2,14000US06037101122,"Census Tract 1011.22, Los Angeles, CA",3405.0,334.0,"MULTIPOLYGON (((-118.30334 34.27371, -118.3033..."
3,14000US06037101210,"Census Tract 1012.10, Los Angeles, CA",6347.0,484.0,"MULTIPOLYGON (((-118.29945 34.25598, -118.2979..."
4,14000US06037101220,"Census Tract 1012.20, Los Angeles, CA",3702.0,276.0,"MULTIPOLYGON (((-118.28593 34.25227, -118.2859..."

In [59]:
totpop19 = totpop19.drop([0])

In [60]:
totpop19.head()

,geoid,name,B01003001,"B01003001, Error",geometry
1,14000US06037101110,"Census Tract 1011.10, Los Angeles, CA",4283.0,443.0,"MULTIPOLYGON (((-118.30229 34.25870, -118.3009..."
2,14000US06037101122,"Census Tract 1011.22, Los Angeles, CA",3405.0,334.0,"MULTIPOLYGON (((-118.30334 34.27371, -118.3033..."
3,14000US06037101210,"Census Tract 1012.10, Los Angeles, CA",6347.0,484.0,"MULTIPOLYGON (((-118.29945 34.25598, -118.2979..."
4,14000US06037101220,"Census Tract 1012.20, Los Angeles, CA",3702.0,276.0,"MULTIPOLYGON (((-118.28593 34.25227, -118.2859..."
5,14000US06037101300,"Census Tract 1013, Los Angeles, CA",3884.0,394.0,"MULTIPOLYGON (((-118.27822 34.25068, -118.2782..."

In [8]:
totpop19.tail()

,geoid,name,B01003001,"B01003001, Error",geometry
2342,14000US06037980031,"Census Tract 9800.31, Los Angeles, CA",1175.0,178.0,"MULTIPOLYGON (((-118.29105 33.75378, -118.2905..."
2343,14000US06037980033,"Census Tract 9800.33, Los Angeles, CA",16.0,23.0,"MULTIPOLYGON (((-118.24897 33.75590, -118.2470..."
2344,14000US06037990100,"Census Tract 9901, Los Angeles, CA",0.0,12.0,"MULTIPOLYGON (((-118.95114 33.99643, -118.9505..."
2345,14000US06037990200,"Census Tract 9902, Los Angeles, CA",0.0,12.0,"MULTIPOLYGON (((-118.63598 34.03255, -118.6325..."
2346,14000US06037990300,"Census Tract 9903, Los Angeles, CA",0.0,12.0,"MULTIPOLYGON (((-118.47656 33.75038, -118.4661..."

In [76]:
totpop11.head()

,B01003_001E,B01003_001M,GEO_ID,NAME
0,Estimate!!Total,Margin of Error!!Total,id,Geographic Area Name
1,5012,424,1400000US06037101110,"Census Tract 1011.10, Los Angeles County, Cali..."
2,3584,388,1400000US06037101122,"Census Tract 1011.22, Los Angeles County, Cali..."
3,6529,533,1400000US06037101210,"Census Tract 1012.10, Los Angeles County, Cali..."
4,2751,319,1400000US06037101220,"Census Tract 1012.20, Los Angeles County, Cali..."

In [77]:
totpop11 = totpop11.drop([0])

In [62]:
totpop11.head()

,B01003_001E,B01003_001M,GEO_ID,NAME
1,5012,424,1400000US06037101110,"Census Tract 1011.10, Los Angeles County, Cali..."
2,3584,388,1400000US06037101122,"Census Tract 1011.22, Los Angeles County, Cali..."
3,6529,533,1400000US06037101210,"Census Tract 1012.10, Los Angeles County, Cali..."
4,2751,319,1400000US06037101220,"Census Tract 1012.20, Los Angeles County, Cali..."
5,4123,332,1400000US06037101300,"Census Tract 1013, Los Angeles County, California"

In [40]:
totpop11.tail()

,B01003_001E,B01003_001M,GEO_ID,NAME
2342,1017,161,1400000US06037980031,"Census Tract 9800.31, Los Angeles County, Cali..."
2343,4,4,1400000US06037980033,"Census Tract 9800.33, Los Angeles County, Cali..."
2344,0,95,1400000US06037990100,"Census Tract 9901, Los Angeles County, California"
2345,0,95,1400000US06037990200,"Census Tract 9902, Los Angeles County, California"
2346,0,95,1400000US06037990300,"Census Tract 9903, Los Angeles County, California"

In [63]:
totpop19.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
Int64Index: 2346 entries, 1 to 2346
Data columns (total 5 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   geoid             2346 non-null   object
 1   name              2346 non-null   object
 2   B01003001         2346 non-null   float64
 3   B01003001, Error  2346 non-null   float64
 4   geometry          2346 non-null   geometry
dtypes: float64(2), geometry(1), object(2)
memory usage: 110.0+ KB

In [64]:
totpop11.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2346 entries, 1 to 2346
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   B01003_001E  2346 non-null   object
 1   B01003_001M  2346 non-null   object
 2   GEO_ID       2346 non-null   object
 3   NAME         2346 non-null   object
dtypes: object(4)
memory usage: 91.6+ KB

In [65]:
columns_to_keep19 = ['geoid',
 'name',
 'B01003001', 
 'geometry']

In [66]:
totpop19 = totpop19 [columns_to_keep19]

In [67]:
totpop19.head()

,geoid,name,B01003001,geometry
1,14000US06037101110,"Census Tract 1011.10, Los Angeles, CA",4283.0,"MULTIPOLYGON (((-118.30229 34.25870, -118.3009..."
2,14000US06037101122,"Census Tract 1011.22, Los Angeles, CA",3405.0,"MULTIPOLYGON (((-118.30334 34.27371, -118.3033..."
3,14000US06037101210,"Census Tract 1012.10, Los Angeles, CA",6347.0,"MULTIPOLYGON (((-118.29945 34.25598, -118.2979..."
4,14000US06037101220,"Census Tract 1012.20, Los Angeles, CA",3702.0,"MULTIPOLYGON (((-118.28593 34.25227, -118.2859..."
5,14000US06037101300,"Census Tract 1013, Los Angeles, CA",3884.0,"MULTIPOLYGON (((-118.27822 34.25068, -118.2782..."

In [68]:
columns_to_keep11 = ['B01003_001E',
 'GEO_ID',
 'NAME']

In [69]:
totpop11 = totpop11 [columns_to_keep11]

In [70]:
totpop11.head()

,B01003_001E,GEO_ID,NAME
1,5012,1400000US06037101110,"Census Tract 1011.10, Los Angeles County, Cali..."
2,3584,1400000US06037101122,"Census Tract 1011.22, Los Angeles County, Cali..."
3,6529,1400000US06037101210,"Census Tract 1012.10, Los Angeles County, Cali..."
4,2751,1400000US06037101220,"Census Tract 1012.20, Los Angeles County, Cali..."
5,4123,1400000US06037101300,"Census Tract 1013, Los Angeles County, California"

Renaming GEO_ID to geoid to match for the merge

In [71]:
totpop11.rename(columns = {'GEO_ID':'geoid'}, inplace = True)

In [72]:
totpop11.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2346 entries, 1 to 2346
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   B01003_001E  2346 non-null   object
 1   geoid        2346 non-null   object
 2   NAME         2346 non-null   object
dtypes: object(3)
memory usage: 73.3+ KB

In [73]:
totpop = totpop19.merge(totpop11, on='geoid')

In [74]:
totpop.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
Index: 0 entries
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   geoid        0 non-null      object
 1   name         0 non-null      object
 2   B01003001    0 non-null      float64
 3   geometry     0 non-null      geometry
 4   B01003_001E  0 non-null      object
 5   NAME         0 non-null      object
dtypes: float64(1), geometry(1), object(4)
memory usage: 0.0+ bytes

In [78]:
totpop.head(5)

Empty GeoDataFrame
Columns: [geoid, name, B01003001, geometry, B01003_001E, NAME]
Index: []