In [1]:
# Let's start by importing all of the libraries we'll need for our analyses

import pandas as pd

import geopandas as gpd

from shapely.geometry import Point

import contextily as ctx

import matplotlib.pyplot as plt

# for interactive plots
import plotly.express as px

# for network analysis
import networkx as nx

# for street network analysis
import osmnx as ox

/opt/conda/lib/python3.9/site-packages/geopandas/_compat.py:106: UserWarning: The Shapely GEOS version (3.9.1-CAPI-1.14.2) is incompatible with the GEOS version PyGEOS was compiled with (3.10.1-CAPI-1.16.0). Conversions between both will be slow.
  warnings.warn(

In [7]:
pd.set_option('display.max_columns', None)

In [2]:
gdf = gpd.read_file('acs_merged.geojson')

In [9]:
gdf.head()

,FIPS,Census Tract,11 Total Population,11 Total Foreign Born,11 Europe,11 Europe Entered 2000 or later,11 Asia,11 Asia Entered 2000 or later,11 Latin America,11 Caribbean,11 Caribbean Entered 2000 or later,11 Central America,11 Mexico,11 Mexico Entered 2000 or later,11 Other Central America,11 Other Central America 2000 or later,11 South America,11 South America Entered 2000 or later,11 Other areas,11 Other areas Entered 2000 or later,19 Total Population,19 Total Foreign Born,19 Total Entered 2010 or later,19 Europe,19 Europe Entered 2010 or later,19 Asia,19 Asia Entered 2010 or later,19 Latin America,19 Caribbean,19 Caribbean entered 2010 or later,19 Central America,19 Mexico,19 Mexico Entered 2010 or later,19 Other Central America,19 Other Central America Entered 2010 or later,19 South America,19 South America Entered 2010 or later,19 Other Areas,19 Other Areas Entered 2010 or later,% Change Foreign Born,geometry
0,06037101110,"Census Tract 1011.10, Los Angeles, CA",5012.0,2027.0,93.0,15.0,1467.0,303.0,449.0,0.0,0.0,412.0,137.0,42.0,275.0,55.0,37.0,8.0,18.0,9.0,4283.0,1424.0,217.0,131.0,7.0,818.0,160.0,446.0,8.0,0.0,329.0,310.0,26.0,19.0,0.0,109.0,24.0,29.0,0.0,-7.195213,"MULTIPOLYGON (((-118.30229 34.25870, -118.3009..."
1,06037101122,"Census Tract 1011.22, Los Angeles, CA",3584.0,1254.0,144.0,0.0,1026.0,87.0,66.0,8.0,0.0,46.0,34.0,0.0,12.0,0.0,12.0,0.0,18.0,0.0,3405.0,810.0,45.0,75.0,10.0,690.0,35.0,24.0,0.0,0.0,24.0,0.0,0.0,24.0,0.0,0.0,0.0,21.0,0.0,-11.200293,"MULTIPOLYGON (((-118.30334 34.27371, -118.3033..."
2,06037101210,"Census Tract 1012.10, Los Angeles, CA",6529.0,3471.0,39.0,0.0,1919.0,561.0,1458.0,0.0,0.0,1420.0,710.0,65.0,710.0,512.0,38.0,0.0,55.0,30.0,6347.0,3167.0,271.0,96.0,17.0,1846.0,181.0,1137.0,19.0,0.0,1004.0,499.0,0.0,505.0,73.0,114.0,0.0,88.0,0.0,-3.265223,"MULTIPOLYGON (((-118.29945 34.25598, -118.2979..."
3,06037101220,"Census Tract 1012.20, Los Angeles, CA",2751.0,1242.0,61.0,0.0,673.0,98.0,437.0,10.0,0.0,419.0,313.0,78.0,106.0,0.0,8.0,0.0,71.0,71.0,3702.0,1749.0,184.0,149.0,7.0,1063.0,152.0,519.0,41.0,0.0,470.0,334.0,0.0,136.0,25.0,8.0,0.0,18.0,0.0,2.097513,"MULTIPOLYGON (((-118.28593 34.25227, -118.2859..."
4,06037101300,"Census Tract 1013, Los Angeles, CA",4123.0,1374.0,97.0,0.0,1168.0,141.0,62.0,0.0,0.0,22.0,22.0,0.0,0.0,0.0,40.0,0.0,47.0,15.0,3884.0,1658.0,192.0,119.0,0.0,1346.0,192.0,110.0,0.0,0.0,83.0,27.0,0.0,56.0,0.0,27.0,0.0,83.0,0.0,9.362702,"MULTIPOLYGON (((-118.27822 34.25068, -118.2782..."

In [20]:
column_list = ['11 Europe Entered 2000 or later', 
                  '11 Asia Entered 2000 or later', 
                  '11 Caribbean Entered 2000 or later', 
                  '11 Mexico Entered 2000 or later', 
                  '11 Other Central America 2000 or later', 
                  '11 South America Entered 2000 or later', 
                  '11 Other areas Entered 2000 or later']

In [21]:
column_list

['11 Europe Entered 2000 or later',
 '11 Asia Entered 2000 or later',
 '11 Caribbean Entered 2000 or later',
 '11 Mexico Entered 2000 or later',
 '11 Other Central America 2000 or later',
 '11 South America Entered 2000 or later',
 '11 Other areas Entered 2000 or later']

In [22]:
gdf['11 Total Entered 2000 or later'] = gdf[column_list].sum(axis=1)

In [23]:
gdf.head(1)

,FIPS,Census Tract,11 Total Population,11 Total Foreign Born,11 Europe,11 Europe Entered 2000 or later,11 Asia,11 Asia Entered 2000 or later,11 Latin America,11 Caribbean,11 Caribbean Entered 2000 or later,11 Central America,11 Mexico,11 Mexico Entered 2000 or later,11 Other Central America,11 Other Central America 2000 or later,11 South America,11 South America Entered 2000 or later,11 Other areas,11 Other areas Entered 2000 or later,19 Total Population,19 Total Foreign Born,19 Total Entered 2010 or later,19 Europe,19 Europe Entered 2010 or later,19 Asia,19 Asia Entered 2010 or later,19 Latin America,19 Caribbean,19 Caribbean entered 2010 or later,19 Central America,19 Mexico,19 Mexico Entered 2010 or later,19 Other Central America,19 Other Central America Entered 2010 or later,19 South America,19 South America Entered 2010 or later,19 Other Areas,19 Other Areas Entered 2010 or later,% Change Foreign Born,geometry,11 Total Entered 2000 or later
0,06037101110,"Census Tract 1011.10, Los Angeles, CA",5012.0,2027.0,93.0,15.0,1467.0,303.0,449.0,0.0,0.0,412.0,137.0,42.0,275.0,55.0,37.0,8.0,18.0,9.0,4283.0,1424.0,217.0,131.0,7.0,818.0,160.0,446.0,8.0,0.0,329.0,310.0,26.0,19.0,0.0,109.0,24.0,29.0,0.0,-7.195213,"MULTIPOLYGON (((-118.30229 34.25870, -118.3009...",432.0

In [25]:
list(gdf)

['FIPS',
 'Census Tract',
 '11 Total Population',
 '11 Total Foreign Born',
 '11 Europe',
 '11 Europe Entered 2000 or later',
 '11 Asia',
 '11 Asia Entered 2000 or later',
 '11 Latin America',
 '11 Caribbean',
 '11 Caribbean Entered 2000 or later',
 '11 Central America',
 '11 Mexico',
 '11 Mexico Entered 2000 or later',
 '11 Other Central America',
 '11 Other Central America 2000 or later',
 '11 South America',
 '11 South America Entered 2000 or later',
 '11 Other areas',
 '11 Other areas Entered 2000 or later',
 '19 Total Population',
 '19 Total Foreign Born',
 '19 Total Entered 2010 or later',
 '19 Europe',
 '19 Europe Entered 2010 or later',
 '19 Asia',
 '19 Asia Entered 2010 or later',
 '19 Latin America',
 '19 Caribbean',
 '19 Caribbean entered 2010 or later',
 '19 Central America',
 '19 Mexico',
 '19 Mexico Entered 2010 or later',
 '19 Other Central America',
 '19 Other Central America Entered 2010 or later',
 '19 South America',
 '19 South America Entered 2010 or later',
 '19 Other Areas',
 '19 Other Areas Entered 2010 or later',
 '% Change Foreign Born',
 'geometry',
 '11 Total Entered 2000 or later']

In [27]:
gdf = gdf[['FIPS',
 'Census Tract',
 '11 Total Population',
 '11 Total Foreign Born',
 '11 Total Entered 2000 or later', 
 '11 Europe',
 '11 Europe Entered 2000 or later',
 '11 Asia',
 '11 Asia Entered 2000 or later',
 '11 Latin America',
 '11 Caribbean',
 '11 Caribbean Entered 2000 or later',
 '11 Central America',
 '11 Mexico',
 '11 Mexico Entered 2000 or later',
 '11 Other Central America',
 '11 Other Central America 2000 or later',
 '11 South America',
 '11 South America Entered 2000 or later',
 '11 Other areas',
 '11 Other areas Entered 2000 or later',
 '19 Total Population',
 '19 Total Foreign Born',
 '19 Total Entered 2010 or later',
 '19 Europe',
 '19 Europe Entered 2010 or later',
 '19 Asia',
 '19 Asia Entered 2010 or later',
 '19 Latin America',
 '19 Caribbean',
 '19 Caribbean entered 2010 or later',
 '19 Central America',
 '19 Mexico',
 '19 Mexico Entered 2010 or later',
 '19 Other Central America',
 '19 Other Central America Entered 2010 or later',
 '19 South America',
 '19 South America Entered 2010 or later',
 '19 Other Areas',
 '19 Other Areas Entered 2010 or later',
 '% Change Foreign Born',
 'geometry',
 '11 Total Entered 2000 or later']]

In [28]:
gdf.head(1)

,FIPS,Census Tract,11 Total Population,11 Total Foreign Born,11 Total Entered 2000 or later,11 Europe,11 Europe Entered 2000 or later,11 Asia,11 Asia Entered 2000 or later,11 Latin America,11 Caribbean,11 Caribbean Entered 2000 or later,11 Central America,11 Mexico,11 Mexico Entered 2000 or later,11 Other Central America,11 Other Central America 2000 or later,11 South America,11 South America Entered 2000 or later,11 Other areas,11 Other areas Entered 2000 or later,19 Total Population,19 Total Foreign Born,19 Total Entered 2010 or later,19 Europe,19 Europe Entered 2010 or later,19 Asia,19 Asia Entered 2010 or later,19 Latin America,19 Caribbean,19 Caribbean entered 2010 or later,19 Central America,19 Mexico,19 Mexico Entered 2010 or later,19 Other Central America,19 Other Central America Entered 2010 or later,19 South America,19 South America Entered 2010 or later,19 Other Areas,19 Other Areas Entered 2010 or later,% Change Foreign Born,geometry,11 Total Entered 2000 or later
0,06037101110,"Census Tract 1011.10, Los Angeles, CA",5012.0,2027.0,432.0,93.0,15.0,1467.0,303.0,449.0,0.0,0.0,412.0,137.0,42.0,275.0,55.0,37.0,8.0,18.0,9.0,4283.0,1424.0,217.0,131.0,7.0,818.0,160.0,446.0,8.0,0.0,329.0,310.0,26.0,19.0,0.0,109.0,24.0,29.0,0.0,-7.195213,"MULTIPOLYGON (((-118.30229 34.25870, -118.3009...",432.0

In [32]:
gdf.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 2345 entries, 0 to 2344
Data columns (total 43 columns):
 #   Column                                          Non-Null Count  Dtype
---  ------                                          --------------  -----
 0   FIPS                                            2345 non-null   object
 1   Census Tract                                    2345 non-null   object
 2   11 Total Population                             2345 non-null   float64
 3   11 Total Foreign Born                           2345 non-null   float64
 4   11 Total Entered 2000 or later                  2345 non-null   float64
 5   11 Europe                                       2345 non-null   float64
 6   11 Europe Entered 2000 or later                 2345 non-null   float64
 7   11 Asia                                         2345 non-null   float64
 8   11 Asia Entered 2000 or later                   2345 non-null   float64
 9   11 Latin America                                2345 non-null   float64
 10  11 Caribbean                                    2345 non-null   float64
 11  11 Caribbean Entered 2000 or later              2345 non-null   float64
 12  11 Central America                              2345 non-null   float64
 13  11 Mexico                                       2345 non-null   float64
 14  11 Mexico Entered 2000 or later                 2345 non-null   float64
 15  11 Other Central America                        2345 non-null   float64
 16  11 Other Central America 2000 or later          2345 non-null   float64
 17  11 South America                                2345 non-null   float64
 18  11 South America Entered 2000 or later          2345 non-null   float64
 19  11 Other areas                                  2345 non-null   float64
 20  11 Other areas Entered 2000 or later            2345 non-null   float64
 21  19 Total Population                             2345 non-null   float64
 22  19 Total Foreign Born                           2345 non-null   float64
 23  19 Total Entered 2010 or later                  2345 non-null   float64
 24  19 Europe                                       2345 non-null   float64
 25  19 Europe Entered 2010 or later                 2345 non-null   float64
 26  19 Asia                                         2345 non-null   float64
 27  19 Asia Entered 2010 or later                   2345 non-null   float64
 28  19 Latin America                                2345 non-null   float64
 29  19 Caribbean                                    2345 non-null   float64
 30  19 Caribbean entered 2010 or later              2345 non-null   float64
 31  19 Central America                              2345 non-null   float64
 32  19 Mexico                                       2345 non-null   float64
 33  19 Mexico Entered 2010 or later                 2345 non-null   float64
 34  19 Other Central America                        2345 non-null   float64
 35  19 Other Central America Entered 2010 or later  2345 non-null   float64
 36  19 South America                                2345 non-null   float64
 37  19 South America Entered 2010 or later          2345 non-null   float64
 38  19 Other Areas                                  2345 non-null   float64
 39  19 Other Areas Entered 2010 or later            2345 non-null   float64
 40  % Change Foreign Born                           2324 non-null   float64
 41  geometry                                        2345 non-null   geometry
 42  11 Total Entered 2000 or later                  2345 non-null   float64
dtypes: float64(40), geometry(1), object(2)
memory usage: 787.9+ KB

In [29]:
gdf.to_file("acs_19_11_B01003_B05007.geojson", driver='GeoJSON')

In [4]:
chinatown = ['06037206010', '06037207103', '06037207102', '06037206020']

In [5]:
delmar = ['06037461902', '06037463602', '06037463700']

In [31]:

# Using .isin to single out the rows we want
df = gdf[gdf["FIPS"].isin(['06037206010', '06037207103', '06037207102', '06037206020'])]
    
# Creating our summation row, since we're not breaking it down by census tract
df = df.append(df.sum(numeric_only=True), ignore_index=True)
    
    
# Keeping only summation row
df = df.iloc[-1:]
    
    
# Creating percentage of total pop by country of origin columns
df['Foreign Born'] = df['19 Total Foreign Born']/df['19 Total Population']*100    
df['Europe'] = df['19 Europe']/df['19 Total Population']*100
df['Asia'] = df['19 Asia']/df['19 Total Population']*100
df['Latin America'] = df['19 Latin America']/df['19 Total Population']*100
df['Caribbean'] = df['19 Caribbean']/df['19 Total Population']*100
df['Central America'] = df['19 Central America']/df['19 Total Population']*100
df['Mexico'] = df['19 Mexico']/df['19 Total Population']*100
df['Other Central America'] = df['19 Other Central America']/df['19 Total Population']*100
df['South America'] = df['19 South America']/df['19 Total Population']*100
df['Other Areas'] = df['19 Other Areas Entered 2010 or later']/df['19 Total Population']*100
df['Entered 2000 or later'] = df['11 Total Entered 2000 or later']/df['11 Total Population']*100
df['Entered 2010 or later'] = df['19 Total Entered 2010 or later']/df['19 Total Population']*100

# Flipping rows and columns
df = df.transpose()
    
# Reseting index
df = df.reset_index()
    
# Renaming columns
df.columns = ['Country of Origin', 'Percentage of Total Foreign Born']
    
# Keeping only the percentage rows
df = df.drop(df.index[0:41])

#set index with first column
df = df.set_index(0)

#create MultiIndex
cols = np.arange(len(df.columns))
df.columns = [ cols // 4, cols % 4]

#stack, reset index names, remove level and reset index
df1 = df.stack().rename_axis((None, None)).reset_index(level=1, drop=True).reset_index()

#set new columns names
df1.columns = ['a','b','c']

# Renaming columns
df.columns = ['Country of Origin', '% of Total Foreign Born', '% Entered 2000 or later', '% Entered 2010 or later']
   
  
display(df)
    
# Plotting
    
graph = px.bar(df, x="Country of Origin", y="Percentage of Total Foreign Born", 
                   title=('Foreign Born Population Breakdown')
        )

display(graph)

ValueError: cannot reindex from a duplicate axis