In [2]:
# to read and wrangle data
import pandas as pd

# to import data from LA Data portal
from sodapy import Socrata

# to create spatial data
import geopandas as gpd

# for basemaps
import contextily as ctx

# Graphics
import matplotlib.pyplot as plt
import plotly.express as px

/opt/conda/lib/python3.9/site-packages/geopandas/_compat.py:106: UserWarning: The Shapely GEOS version (3.9.1-CAPI-1.14.2) is incompatible with the GEOS version PyGEOS was compiled with (3.10.1-CAPI-1.16.0). Conversions between both will be slow.
  warnings.warn(

In [3]:
gdf1 = gpd.read_file('acs2019_5yr_B01003_14000US06037222001.geojson')

In [4]:
gdf2 = gpd.read_file('acs2019_5yr_B05007.geojson')

In [5]:
gdf1.head()

,geoid,name,B01003001,"B01003001, Error",geometry
0,05000US06037,"Los Angeles County, CA",10081570.0,0.0,"MULTIPOLYGON (((-118.70339 34.16859, -118.7033..."
1,14000US06037101110,"Census Tract 1011.10, Los Angeles, CA",4283.0,443.0,"MULTIPOLYGON (((-118.30229 34.25870, -118.3009..."
2,14000US06037101122,"Census Tract 1011.22, Los Angeles, CA",3405.0,334.0,"MULTIPOLYGON (((-118.30334 34.27371, -118.3033..."
3,14000US06037101210,"Census Tract 1012.10, Los Angeles, CA",6347.0,484.0,"MULTIPOLYGON (((-118.29945 34.25598, -118.2979..."
4,14000US06037101220,"Census Tract 1012.20, Los Angeles, CA",3702.0,276.0,"MULTIPOLYGON (((-118.28593 34.25227, -118.2859..."

In [6]:
gdf2.head()

,geoid,name,B05007001,"B05007001, Error",B05007002,"B05007002, Error",B05007003,"B05007003, Error",B05007004,"B05007004, Error",...,"B05007102, Error",B05007103,"B05007103, Error",B05007104,"B05007104, Error",B05007105,"B05007105, Error",B05007106,"B05007106, Error",geometry
0,05000US06037,"Los Angeles County, CA",3430535.0,14118.0,441555.0,6639.0,54213.0,1710.0,387342.0,6344.0,...,998.0,4753.0,625.0,36463.0,1209.0,29493.0,1166.0,6970.0,540.0,"MULTIPOLYGON (((-118.70339 34.16859, -118.7033..."
1,14000US06037101110,"Census Tract 1011.10, Los Angeles, CA",1424.0,326.0,217.0,129.0,63.0,66.0,154.0,126.0,...,13.0,11.0,16.0,11.0,17.0,0.0,12.0,11.0,17.0,"MULTIPOLYGON (((-118.30229 34.25870, -118.3009..."
2,14000US06037101122,"Census Tract 1011.22, Los Angeles, CA",810.0,180.0,45.0,39.0,9.0,17.0,36.0,35.0,...,12.0,0.0,12.0,21.0,23.0,0.0,12.0,21.0,23.0,"MULTIPOLYGON (((-118.30334 34.27371, -118.3033..."
3,14000US06037101210,"Census Tract 1012.10, Los Angeles, CA",3167.0,438.0,271.0,216.0,10.0,17.0,261.0,216.0,...,17.0,0.0,17.0,88.0,71.0,51.0,44.0,37.0,59.0,"MULTIPOLYGON (((-118.29945 34.25598, -118.2979..."
4,14000US06037101220,"Census Tract 1012.20, Los Angeles, CA",1749.0,251.0,184.0,124.0,48.0,58.0,136.0,112.0,...,12.0,0.0,12.0,0.0,12.0,0.0,12.0,0.0,12.0,"MULTIPOLYGON (((-118.28593 34.25227, -118.2859..."

In [7]:
gdf1 = gdf1.drop([0])

In [8]:
gdf2 = gdf2.drop([0])

In [9]:
gdf1.head()

,geoid,name,B01003001,"B01003001, Error",geometry
1,14000US06037101110,"Census Tract 1011.10, Los Angeles, CA",4283.0,443.0,"MULTIPOLYGON (((-118.30229 34.25870, -118.3009..."
2,14000US06037101122,"Census Tract 1011.22, Los Angeles, CA",3405.0,334.0,"MULTIPOLYGON (((-118.30334 34.27371, -118.3033..."
3,14000US06037101210,"Census Tract 1012.10, Los Angeles, CA",6347.0,484.0,"MULTIPOLYGON (((-118.29945 34.25598, -118.2979..."
4,14000US06037101220,"Census Tract 1012.20, Los Angeles, CA",3702.0,276.0,"MULTIPOLYGON (((-118.28593 34.25227, -118.2859..."
5,14000US06037101300,"Census Tract 1013, Los Angeles, CA",3884.0,394.0,"MULTIPOLYGON (((-118.27822 34.25068, -118.2782..."

In [10]:
gdf2.head()

,geoid,name,B05007001,"B05007001, Error",B05007002,"B05007002, Error",B05007003,"B05007003, Error",B05007004,"B05007004, Error",...,"B05007102, Error",B05007103,"B05007103, Error",B05007104,"B05007104, Error",B05007105,"B05007105, Error",B05007106,"B05007106, Error",geometry
1,14000US06037101110,"Census Tract 1011.10, Los Angeles, CA",1424.0,326.0,217.0,129.0,63.0,66.0,154.0,126.0,...,13.0,11.0,16.0,11.0,17.0,0.0,12.0,11.0,17.0,"MULTIPOLYGON (((-118.30229 34.25870, -118.3009..."
2,14000US06037101122,"Census Tract 1011.22, Los Angeles, CA",810.0,180.0,45.0,39.0,9.0,17.0,36.0,35.0,...,12.0,0.0,12.0,21.0,23.0,0.0,12.0,21.0,23.0,"MULTIPOLYGON (((-118.30334 34.27371, -118.3033..."
3,14000US06037101210,"Census Tract 1012.10, Los Angeles, CA",3167.0,438.0,271.0,216.0,10.0,17.0,261.0,216.0,...,17.0,0.0,17.0,88.0,71.0,51.0,44.0,37.0,59.0,"MULTIPOLYGON (((-118.29945 34.25598, -118.2979..."
4,14000US06037101220,"Census Tract 1012.20, Los Angeles, CA",1749.0,251.0,184.0,124.0,48.0,58.0,136.0,112.0,...,12.0,0.0,12.0,0.0,12.0,0.0,12.0,0.0,12.0,"MULTIPOLYGON (((-118.28593 34.25227, -118.2859..."
5,14000US06037101300,"Census Tract 1013, Los Angeles, CA",1658.0,261.0,192.0,164.0,11.0,17.0,181.0,164.0,...,35.0,0.0,12.0,56.0,52.0,56.0,52.0,0.0,12.0,"MULTIPOLYGON (((-118.27822 34.25068, -118.2782..."

In [11]:
acs19 = pd.merge(gdf1, gdf2)

In [12]:
acs19.head()

,geoid,name,B01003001,"B01003001, Error",geometry,B05007001,"B05007001, Error",B05007002,"B05007002, Error",B05007003,...,B05007102,"B05007102, Error",B05007103,"B05007103, Error",B05007104,"B05007104, Error",B05007105,"B05007105, Error",B05007106,"B05007106, Error"
0,14000US06037101110,"Census Tract 1011.10, Los Angeles, CA",4283.0,443.0,"MULTIPOLYGON (((-118.30229 34.25870, -118.3009...",1424.0,326.0,217.0,129.0,63.0,...,7.0,13.0,11.0,16.0,11.0,17.0,0.0,12.0,11.0,17.0
1,14000US06037101122,"Census Tract 1011.22, Los Angeles, CA",3405.0,334.0,"MULTIPOLYGON (((-118.30334 34.27371, -118.3033...",810.0,180.0,45.0,39.0,9.0,...,0.0,12.0,0.0,12.0,21.0,23.0,0.0,12.0,21.0,23.0
2,14000US06037101210,"Census Tract 1012.10, Los Angeles, CA",6347.0,484.0,"MULTIPOLYGON (((-118.29945 34.25598, -118.2979...",3167.0,438.0,271.0,216.0,10.0,...,0.0,17.0,0.0,17.0,88.0,71.0,51.0,44.0,37.0,59.0
3,14000US06037101220,"Census Tract 1012.20, Los Angeles, CA",3702.0,276.0,"MULTIPOLYGON (((-118.28593 34.25227, -118.2859...",1749.0,251.0,184.0,124.0,48.0,...,0.0,12.0,0.0,12.0,0.0,12.0,0.0,12.0,0.0,12.0
4,14000US06037101300,"Census Tract 1013, Los Angeles, CA",3884.0,394.0,"MULTIPOLYGON (((-118.27822 34.25068, -118.2782...",1658.0,261.0,192.0,164.0,11.0,...,27.0,35.0,0.0,12.0,56.0,52.0,56.0,52.0,0.0,12.0

In [13]:
acs19 = acs19[['geoid', 
               'name', 
               'B01003001', 
               'B05007001', 
               'B05007002', 
               'B05007014', 
               'B05007015',  
               'B05007027', 
               'B05007028', 
               'B05007040', 
               'B05007041', 
               'B05007042', 
               'B05007054', 
               'B05007055', 
               'B05007056',
               'B05007068', 
               'B05007069', 
               'B05007081', 
               'B05007082', 
               'B05007094', 
               'B05007095', 
               'geometry']
             ]

In [14]:
acs19.head()

,geoid,name,B01003001,B05007001,B05007002,B05007014,B05007015,B05007027,B05007028,B05007040,...,B05007054,B05007055,B05007056,B05007068,B05007069,B05007081,B05007082,B05007094,B05007095,geometry
0,14000US06037101110,"Census Tract 1011.10, Los Angeles, CA",4283.0,1424.0,217.0,131.0,7.0,818.0,160.0,446.0,...,329.0,310.0,26.0,19.0,0.0,109.0,24.0,29.0,0.0,"MULTIPOLYGON (((-118.30229 34.25870, -118.3009..."
1,14000US06037101122,"Census Tract 1011.22, Los Angeles, CA",3405.0,810.0,45.0,75.0,10.0,690.0,35.0,24.0,...,24.0,0.0,0.0,24.0,0.0,0.0,0.0,21.0,0.0,"MULTIPOLYGON (((-118.30334 34.27371, -118.3033..."
2,14000US06037101210,"Census Tract 1012.10, Los Angeles, CA",6347.0,3167.0,271.0,96.0,17.0,1846.0,181.0,1137.0,...,1004.0,499.0,0.0,505.0,73.0,114.0,0.0,88.0,0.0,"MULTIPOLYGON (((-118.29945 34.25598, -118.2979..."
3,14000US06037101220,"Census Tract 1012.20, Los Angeles, CA",3702.0,1749.0,184.0,149.0,7.0,1063.0,152.0,519.0,...,470.0,334.0,0.0,136.0,25.0,8.0,0.0,18.0,0.0,"MULTIPOLYGON (((-118.28593 34.25227, -118.2859..."
4,14000US06037101300,"Census Tract 1013, Los Angeles, CA",3884.0,1658.0,192.0,119.0,0.0,1346.0,192.0,110.0,...,83.0,27.0,0.0,56.0,0.0,27.0,0.0,83.0,0.0,"MULTIPOLYGON (((-118.27822 34.25068, -118.2782..."

In [67]:
acs19.columns = ['FIPS', 
                 'Census Tract', 
                 '19 Total Population', 
                 '19 Total Foreign Born',
                 '19 Total Entered 2010 or later', 
                 '19 Europe', 
                 '19 Europe Entered 2010 or later', 
                 '19 Asia', 
                 '19 Asia Entered 2010 or later', 
                 '19 Latin America', 
                 '19 Caribbean', 
                 '19 Caribbean entered 2010 or later', 
                 '19 Central America', 
                 '19 Mexico', 
                 '19 Mexico Entered 2010 or later', 
                 '19 Central America', 
                 '19 Central America Entered 2010 or later', 
                 '19 South America', 
                 '19 South America Entered 2010 or later', 
                 '19 Other Areas', 
                 '19 Other Areas Entered 2010 or later', 
                 'Geometry']

In [68]:
acs19.head()

,FIPS,Census Tract,19 Total Population,19 Total Foreign Born,19 Total Entered 2010 or later,19 Europe,19 Europe Entered 2010 or later,19 Asia,19 Asia Entered 2010 or later,19 Latin America,...,19 Central America,19 Mexico,19 Mexico Entered 2010 or later,19 Central America,19 Central America Entered 2010 or later,19 South America,19 South America Entered 2010 or later,19 Other Areas,19 Other Areas Entered 2010 or later,Geometry
0,06037101110,"Census Tract 1011.10, Los Angeles, CA",4283.0,1424.0,217.0,131.0,7.0,818.0,160.0,446.0,...,329.0,310.0,26.0,19.0,0.0,109.0,24.0,29.0,0.0,"MULTIPOLYGON (((-118.30229 34.25870, -118.3009..."
1,06037101122,"Census Tract 1011.22, Los Angeles, CA",3405.0,810.0,45.0,75.0,10.0,690.0,35.0,24.0,...,24.0,0.0,0.0,24.0,0.0,0.0,0.0,21.0,0.0,"MULTIPOLYGON (((-118.30334 34.27371, -118.3033..."
2,06037101210,"Census Tract 1012.10, Los Angeles, CA",6347.0,3167.0,271.0,96.0,17.0,1846.0,181.0,1137.0,...,1004.0,499.0,0.0,505.0,73.0,114.0,0.0,88.0,0.0,"MULTIPOLYGON (((-118.29945 34.25598, -118.2979..."
3,06037101220,"Census Tract 1012.20, Los Angeles, CA",3702.0,1749.0,184.0,149.0,7.0,1063.0,152.0,519.0,...,470.0,334.0,0.0,136.0,25.0,8.0,0.0,18.0,0.0,"MULTIPOLYGON (((-118.28593 34.25227, -118.2859..."
4,06037101300,"Census Tract 1013, Los Angeles, CA",3884.0,1658.0,192.0,119.0,0.0,1346.0,192.0,110.0,...,83.0,27.0,0.0,56.0,0.0,27.0,0.0,83.0,0.0,"MULTIPOLYGON (((-118.27822 34.25068, -118.2782..."

In [69]:
acs19['FIPS'] = acs19['FIPS'].str.replace('14000US','')

In [70]:
acs19.head()

,FIPS,Census Tract,19 Total Population,19 Total Foreign Born,19 Total Entered 2010 or later,19 Europe,19 Europe Entered 2010 or later,19 Asia,19 Asia Entered 2010 or later,19 Latin America,...,19 Central America,19 Mexico,19 Mexico Entered 2010 or later,19 Central America,19 Central America Entered 2010 or later,19 South America,19 South America Entered 2010 or later,19 Other Areas,19 Other Areas Entered 2010 or later,Geometry
0,06037101110,"Census Tract 1011.10, Los Angeles, CA",4283.0,1424.0,217.0,131.0,7.0,818.0,160.0,446.0,...,329.0,310.0,26.0,19.0,0.0,109.0,24.0,29.0,0.0,"MULTIPOLYGON (((-118.30229 34.25870, -118.3009..."
1,06037101122,"Census Tract 1011.22, Los Angeles, CA",3405.0,810.0,45.0,75.0,10.0,690.0,35.0,24.0,...,24.0,0.0,0.0,24.0,0.0,0.0,0.0,21.0,0.0,"MULTIPOLYGON (((-118.30334 34.27371, -118.3033..."
2,06037101210,"Census Tract 1012.10, Los Angeles, CA",6347.0,3167.0,271.0,96.0,17.0,1846.0,181.0,1137.0,...,1004.0,499.0,0.0,505.0,73.0,114.0,0.0,88.0,0.0,"MULTIPOLYGON (((-118.29945 34.25598, -118.2979..."
3,06037101220,"Census Tract 1012.20, Los Angeles, CA",3702.0,1749.0,184.0,149.0,7.0,1063.0,152.0,519.0,...,470.0,334.0,0.0,136.0,25.0,8.0,0.0,18.0,0.0,"MULTIPOLYGON (((-118.28593 34.25227, -118.2859..."
4,06037101300,"Census Tract 1013, Los Angeles, CA",3884.0,1658.0,192.0,119.0,0.0,1346.0,192.0,110.0,...,83.0,27.0,0.0,56.0,0.0,27.0,0.0,83.0,0.0,"MULTIPOLYGON (((-118.27822 34.25068, -118.2782..."

In [43]:
df1 = pd.read_csv('ACSDT5Y2011.B05007_data_with_overlays_2022-02-20T144252.csv')

In [44]:
df2 = pd.read_csv('ACSDT5Y2011.B01003_data_with_overlays_2022-02-18T183522.csv')

In [45]:
df1.head()

,B05007_001E,B05007_001M,B05007_002E,B05007_002M,B05007_003E,B05007_003M,B05007_004E,B05007_004M,B05007_005E,B05007_005M,...,B05007_091E,B05007_091M,B05007_092E,B05007_092M,B05007_093E,B05007_093M,B05007_094E,B05007_094M,GEO_ID,NAME
0,Estimate!!Total,Margin of Error!!Total,Estimate!!Total!!Europe,Margin of Error!!Total!!Europe,Estimate!!Total!!Europe!!Entered 2000 or later,Margin of Error!!Total!!Europe!!Entered 2000 o...,Estimate!!Total!!Europe!!Entered 2000 or later...,Margin of Error!!Total!!Europe!!Entered 2000 o...,Estimate!!Total!!Europe!!Entered 2000 or later...,Margin of Error!!Total!!Europe!!Entered 2000 o...,...,Estimate!!Total!!Other areas!!Entered 1980 to ...,Margin of Error!!Total!!Other areas!!Entered 1...,Estimate!!Total!!Other areas!!Entered before 1980,Margin of Error!!Total!!Other areas!!Entered b...,Estimate!!Total!!Other areas!!Entered before 1...,Margin of Error!!Total!!Other areas!!Entered b...,Estimate!!Total!!Other areas!!Entered before 1...,Margin of Error!!Total!!Other areas!!Entered b...,id,Geographic Area Name
1,2027,394,93,56,15,17,7,10,8,13,...,0,95,0,95,0,95,0,95,1400000US06037101110,"Census Tract 1011.10, Los Angeles County, Cali..."
2,1254,318,144,80,0,95,0,95,0,95,...,0,95,9,14,0,95,9,14,1400000US06037101122,"Census Tract 1011.22, Los Angeles County, Cali..."
3,3471,547,39,40,0,95,0,95,0,95,...,0,95,0,95,0,95,0,95,1400000US06037101210,"Census Tract 1012.10, Los Angeles County, Cali..."
4,1242,243,61,54,0,95,0,95,0,95,...,0,95,0,95,0,95,0,95,1400000US06037101220,"Census Tract 1012.20, Los Angeles County, Cali..."

In [46]:
ctk = ['B05007_001E', 
       'B05007_002E',
       'B05007_003E', 
       'B05007_015E', 
       'B05007_016E', 
       'B05007_028E', 
       'B05007_029E', 
       'B05007_030E', 
       'B05007_042E', 
       'B05007_043E', 
       'B05007_044E', 
       'B05007_056E', 
       'B05007_057E', 
       'B05007_069E', 
       'B05007_070E', 
       'B05007_082E', 
       'B05007_083E', 
       'GEO_ID'
        ]

In [47]:
df1 = df1[ctk]

In [48]:
df1.head()

,B05007_001E,B05007_002E,B05007_003E,B05007_015E,B05007_016E,B05007_028E,B05007_029E,B05007_030E,B05007_042E,B05007_043E,B05007_044E,B05007_056E,B05007_057E,B05007_069E,B05007_070E,B05007_082E,B05007_083E,GEO_ID
0,Estimate!!Total,Estimate!!Total!!Europe,Estimate!!Total!!Europe!!Entered 2000 or later,Estimate!!Total!!Asia,Estimate!!Total!!Asia!!Entered 2000 or later,Estimate!!Total!!Latin America,Estimate!!Total!!Latin America!!Caribbean,Estimate!!Total!!Latin America!!Caribbean!!Ent...,Estimate!!Total!!Latin America!!Central America,Estimate!!Total!!Latin America!!Central Americ...,Estimate!!Total!!Latin America!!Central Americ...,Estimate!!Total!!Latin America!!Central Americ...,Estimate!!Total!!Latin America!!Central Americ...,Estimate!!Total!!Latin America!!South America,Estimate!!Total!!Latin America!!South America!...,Estimate!!Total!!Other areas,Estimate!!Total!!Other areas!!Entered 2000 or ...,id
1,2027,93,15,1467,303,449,0,0,412,137,42,275,55,37,8,18,9,1400000US06037101110
2,1254,144,0,1026,87,66,8,0,46,34,0,12,0,12,0,18,0,1400000US06037101122
3,3471,39,0,1919,561,1458,0,0,1420,710,65,710,512,38,0,55,30,1400000US06037101210
4,1242,61,0,673,98,437,10,0,419,313,78,106,0,8,0,71,71,1400000US06037101220

In [73]:
df1.columns = ['11 Total Foreign Born', 
               '11 Total Europe', 
               '11 Total Europe Entered 2000 or later', 
               '11 Total Asia', 
               '11 Total Asia Entered 2000 or later', 
               '11 Total Latin America', 
               '11 Total Caribbean', 
               '11 Total Caribbean Entered 2000 or later', 
               '11 Total Central America',  
               '11 Total Mexico', 
               '11 Total Mexico Entered 2000 or later', 
               '11 Total Other Central America', 
               '11 Total Other Central America 2000 or later', 
               '11 Total South America', 
               '11 Total South America Entered 2000 or later', 
               '11 Total Other areas', 
               '11 Total Other areas Entered 2000 or later', 
               'FIPS']

In [74]:
df1.head()

,11 Total Foreign Born,11 Total Europe,11 Total Europe Entered 2000 or later,11 Total Asia,11 Total Asia Entered 2000 or later,11 Total Latin America,11 Total Caribbean,11 Total Caribbean Entered 2000 or later,11 Total Central America,11 Total Mexico,11 Total Mexico Entered 2000 or later,11 Total Other Central America,11 Total Other Central America 2000 or later,11 Total South America,11 Total South America Entered 2000 or later,11 Total Other areas,11 Total Other areas Entered 2000 or later,FIPS
1,2027,93,15,1467,303,449,0,0,412,137,42,275,55,37,8,18,9,06037101110
2,1254,144,0,1026,87,66,8,0,46,34,0,12,0,12,0,18,0,06037101122
3,3471,39,0,1919,561,1458,0,0,1420,710,65,710,512,38,0,55,30,06037101210
4,1242,61,0,673,98,437,10,0,419,313,78,106,0,8,0,71,71,06037101220
5,1374,97,0,1168,141,62,0,0,22,22,0,0,0,40,0,47,15,06037101300

In [75]:
df1 = df1.drop([0])

KeyError: '[0] not found in axis'

In [76]:
df1.head()

,11 Total Foreign Born,11 Total Europe,11 Total Europe Entered 2000 or later,11 Total Asia,11 Total Asia Entered 2000 or later,11 Total Latin America,11 Total Caribbean,11 Total Caribbean Entered 2000 or later,11 Total Central America,11 Total Mexico,11 Total Mexico Entered 2000 or later,11 Total Other Central America,11 Total Other Central America 2000 or later,11 Total South America,11 Total South America Entered 2000 or later,11 Total Other areas,11 Total Other areas Entered 2000 or later,FIPS
1,2027,93,15,1467,303,449,0,0,412,137,42,275,55,37,8,18,9,06037101110
2,1254,144,0,1026,87,66,8,0,46,34,0,12,0,12,0,18,0,06037101122
3,3471,39,0,1919,561,1458,0,0,1420,710,65,710,512,38,0,55,30,06037101210
4,1242,61,0,673,98,437,10,0,419,313,78,106,0,8,0,71,71,06037101220
5,1374,97,0,1168,141,62,0,0,22,22,0,0,0,40,0,47,15,06037101300

In [77]:
df1['FIPS'] = df1['FIPS'].str.replace('1400000US','')

In [78]:
df1.head()

,11 Total Foreign Born,11 Total Europe,11 Total Europe Entered 2000 or later,11 Total Asia,11 Total Asia Entered 2000 or later,11 Total Latin America,11 Total Caribbean,11 Total Caribbean Entered 2000 or later,11 Total Central America,11 Total Mexico,11 Total Mexico Entered 2000 or later,11 Total Other Central America,11 Total Other Central America 2000 or later,11 Total South America,11 Total South America Entered 2000 or later,11 Total Other areas,11 Total Other areas Entered 2000 or later,FIPS
1,2027,93,15,1467,303,449,0,0,412,137,42,275,55,37,8,18,9,06037101110
2,1254,144,0,1026,87,66,8,0,46,34,0,12,0,12,0,18,0,06037101122
3,3471,39,0,1919,561,1458,0,0,1420,710,65,710,512,38,0,55,30,06037101210
4,1242,61,0,673,98,437,10,0,419,313,78,106,0,8,0,71,71,06037101220
5,1374,97,0,1168,141,62,0,0,22,22,0,0,0,40,0,47,15,06037101300

In [98]:
column_list = list(df1)

In [100]:
print(column_list)

['11 Total Foreign Born', '11 Total Europe', '11 Total Europe Entered 2000 or later', '11 Total Asia', '11 Total Asia Entered 2000 or later', '11 Total Latin America', '11 Total Caribbean', '11 Total Caribbean Entered 2000 or later', '11 Total Central America', '11 Total Mexico', '11 Total Mexico Entered 2000 or later', '11 Total Other Central America', '11 Total Other Central America 2000 or later', '11 Total South America', '11 Total South America Entered 2000 or later', '11 Total Other areas', '11 Total Other areas Entered 2000 or later', 'FIPS']

In [101]:
column_list = ['11 Total Europe Entered 2000 or later', '11 Total Asia Entered 2000 or later', '11 Total Caribbean Entered 2000 or later', '11 Total Mexico Entered 2000 or later', '11 Total Other Central America 2000 or later', '11 Total South America Entered 2000 or later', '11 Total Other areas Entered 2000 or later']

In [102]:
print(column_list)

['11 Total Europe Entered 2000 or later', '11 Total Asia Entered 2000 or later', '11 Total Caribbean Entered 2000 or later', '11 Total Mexico Entered 2000 or later', '11 Total Other Central America 2000 or later', '11 Total South America Entered 2000 or later', '11 Total Other areas Entered 2000 or later']

In [103]:
df1["sum"] = df1[column_list].sum(axis=1)

In [104]:
df1.head()

,11 Total Foreign Born,11 Total Europe,11 Total Europe Entered 2000 or later,11 Total Asia,11 Total Asia Entered 2000 or later,11 Total Latin America,11 Total Caribbean,11 Total Caribbean Entered 2000 or later,11 Total Central America,11 Total Mexico,11 Total Mexico Entered 2000 or later,11 Total Other Central America,11 Total Other Central America 2000 or later,11 Total South America,11 Total South America Entered 2000 or later,11 Total Other areas,11 Total Other areas Entered 2000 or later,FIPS,sum
1,2027,93,15,1467,303,449,0,0,412,137,42,275,55,37,8,18,9,06037101110,1.530304e+11
2,1254,144,0,1026,87,66,8,0,46,34,0,12,0,12,0,18,0,06037101122,8.700000e+06
3,3471,39,0,1919,561,1458,0,0,1420,710,65,710,512,38,0,55,30,06037101210,5.610655e+11
4,1242,61,0,673,98,437,10,0,419,313,78,106,0,8,0,71,71,06037101220,9.807801e+08
5,1374,97,0,1168,141,62,0,0,22,22,0,0,0,40,0,47,15,06037101300,1.410000e+08

In [105]:
df1 = df1.rename(columns={'sum': '11 Total Entered 2000 or later'})

In [106]:
df1.head()

,11 Total Foreign Born,11 Total Europe,11 Total Europe Entered 2000 or later,11 Total Asia,11 Total Asia Entered 2000 or later,11 Total Latin America,11 Total Caribbean,11 Total Caribbean Entered 2000 or later,11 Total Central America,11 Total Mexico,11 Total Mexico Entered 2000 or later,11 Total Other Central America,11 Total Other Central America 2000 or later,11 Total South America,11 Total South America Entered 2000 or later,11 Total Other areas,11 Total Other areas Entered 2000 or later,FIPS,11 Total Entered 2000 or later
1,2027,93,15,1467,303,449,0,0,412,137,42,275,55,37,8,18,9,06037101110,1.530304e+11
2,1254,144,0,1026,87,66,8,0,46,34,0,12,0,12,0,18,0,06037101122,8.700000e+06
3,3471,39,0,1919,561,1458,0,0,1420,710,65,710,512,38,0,55,30,06037101210,5.610655e+11
4,1242,61,0,673,98,437,10,0,419,313,78,106,0,8,0,71,71,06037101220,9.807801e+08
5,1374,97,0,1168,141,62,0,0,22,22,0,0,0,40,0,47,15,06037101300,1.410000e+08

In [108]:
df1 = df1[['11 Total Foreign Born', '11 Total Entered 2000 or later', '11 Total Europe', '11 Total Europe Entered 2000 or later', '11 Total Asia', '11 Total Asia Entered 2000 or later', '11 Total Latin America', '11 Total Caribbean', '11 Total Caribbean Entered 2000 or later', '11 Total Central America', '11 Total Mexico', '11 Total Mexico Entered 2000 or later', '11 Total Other Central America', '11 Total Other Central America 2000 or later', '11 Total South America', '11 Total South America Entered 2000 or later', '11 Total Other areas', '11 Total Other areas Entered 2000 or later', 'FIPS']]

In [109]:
df1.head()

,11 Total Foreign Born,11 Total Entered 2000 or later,11 Total Europe,11 Total Europe Entered 2000 or later,11 Total Asia,11 Total Asia Entered 2000 or later,11 Total Latin America,11 Total Caribbean,11 Total Caribbean Entered 2000 or later,11 Total Central America,11 Total Mexico,11 Total Mexico Entered 2000 or later,11 Total Other Central America,11 Total Other Central America 2000 or later,11 Total South America,11 Total South America Entered 2000 or later,11 Total Other areas,11 Total Other areas Entered 2000 or later,FIPS
1,2027,1.530304e+11,93,15,1467,303,449,0,0,412,137,42,275,55,37,8,18,9,06037101110
2,1254,8.700000e+06,144,0,1026,87,66,8,0,46,34,0,12,0,12,0,18,0,06037101122
3,3471,5.610655e+11,39,0,1919,561,1458,0,0,1420,710,65,710,512,38,0,55,30,06037101210
4,1242,9.807801e+08,61,0,673,98,437,10,0,419,313,78,106,0,8,0,71,71,06037101220
5,1374,1.410000e+08,97,0,1168,141,62,0,0,22,22,0,0,0,40,0,47,15,06037101300

In [23]:
df2.head()

,B01003_001E,B01003_001M,GEO_ID,NAME
0,Estimate!!Total,Margin of Error!!Total,id,Geographic Area Name
1,5012,424,1400000US06037101110,"Census Tract 1011.10, Los Angeles County, Cali..."
2,3584,388,1400000US06037101122,"Census Tract 1011.22, Los Angeles County, Cali..."
3,6529,533,1400000US06037101210,"Census Tract 1012.10, Los Angeles County, Cali..."
4,2751,319,1400000US06037101220,"Census Tract 1012.20, Los Angeles County, Cali..."

In [56]:
ctk2 = ['B01003_001E', 
        'GEO_ID']

In [57]:
df2 = df2[ctk2]

In [58]:
df2.head()

       B01003_001E                GEO_ID
0  Estimate!!Total                    id
1             5012  1400000US06037101110
2             3584  1400000US06037101122
3             6529  1400000US06037101210
4             2751  1400000US06037101220

In [79]:
df2.columns = ['11 Total Population', 
               'FIPS']

In [60]:
df2 = df2.drop([0])

In [80]:
df2.head()

  11 Total Population         FIPS
1                5012  06037101110
2                3584  06037101122
3                6529  06037101210
4                2751  06037101220
5                4123  06037101300

In [62]:
df2['FIPS'] = df2['FIPS'].str.replace('1400000US','')

In [63]:
df2.head()

  2011 Total Population         FIPS
1                  5012  06037101110
2                  3584  06037101122
3                  6529  06037101210
4                  2751  06037101220
5                  4123  06037101300

In [81]:
acs11 = df1.merge(df2, on='FIPS')

In [82]:
acs11

,11 Total Foreign Born,11 Total Europe,11 Total Europe Entered 2000 or later,11 Total Asia,11 Total Asia Entered 2000 or later,11 Total Latin America,11 Total Caribbean,11 Total Caribbean Entered 2000 or later,11 Total Central America,11 Total Mexico,11 Total Mexico Entered 2000 or later,11 Total Other Central America,11 Total Other Central America 2000 or later,11 Total South America,11 Total South America Entered 2000 or later,11 Total Other areas,11 Total Other areas Entered 2000 or later,FIPS,11 Total Population
0,2027,93,15,1467,303,449,0,0,412,137,42,275,55,37,8,18,9,06037101110,5012
1,1254,144,0,1026,87,66,8,0,46,34,0,12,0,12,0,18,0,06037101122,3584
2,3471,39,0,1919,561,1458,0,0,1420,710,65,710,512,38,0,55,30,06037101210,6529
3,1242,61,0,673,98,437,10,0,419,313,78,106,0,8,0,71,71,06037101220,2751
4,1374,97,0,1168,141,62,0,0,22,22,0,0,0,40,0,47,15,06037101300,4123
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2341,209,9,0,25,0,159,0,0,159,151,8,8,0,0,0,16,0,06037980031,1017
2342,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,06037980033,4
2343,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,06037990100,0
2344,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,06037990200,0
2345,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,06037990300,0

In [83]:
merged = acs19.merge(acs11, on='FIPS')

In [84]:
merged.head()

,FIPS,Census Tract,19 Total Population,19 Total Foreign Born,19 Total Entered 2010 or later,19 Europe,19 Europe Entered 2010 or later,19 Asia,19 Asia Entered 2010 or later,19 Latin America,...,11 Total Central America,11 Total Mexico,11 Total Mexico Entered 2000 or later,11 Total Other Central America,11 Total Other Central America 2000 or later,11 Total South America,11 Total South America Entered 2000 or later,11 Total Other areas,11 Total Other areas Entered 2000 or later,11 Total Population
0,06037101110,"Census Tract 1011.10, Los Angeles, CA",4283.0,1424.0,217.0,131.0,7.0,818.0,160.0,446.0,...,412,137,42,275,55,37,8,18,9,5012
1,06037101122,"Census Tract 1011.22, Los Angeles, CA",3405.0,810.0,45.0,75.0,10.0,690.0,35.0,24.0,...,46,34,0,12,0,12,0,18,0,3584
2,06037101210,"Census Tract 1012.10, Los Angeles, CA",6347.0,3167.0,271.0,96.0,17.0,1846.0,181.0,1137.0,...,1420,710,65,710,512,38,0,55,30,6529
3,06037101220,"Census Tract 1012.20, Los Angeles, CA",3702.0,1749.0,184.0,149.0,7.0,1063.0,152.0,519.0,...,419,313,78,106,0,8,0,71,71,2751
4,06037101300,"Census Tract 1013, Los Angeles, CA",3884.0,1658.0,192.0,119.0,0.0,1346.0,192.0,110.0,...,22,22,0,0,0,40,0,47,15,4123

In [88]:
merged = merged[['FIPS', 
        'Census Tract', 
        '11 Total Population', 
        '11 Total Foreign Born', 
        '11 Total Europe', 
        '11 Total Europe Entered 2000 or later', 
        '11 Total Asia', 
        '11 Total Asia Entered 2000 or later', 
        '11 Total Latin America', 
        '11 Total Caribbean', 
        '11 Total Caribbean Entered 2000 or later', 
        '11 Total Central America',  
        '11 Total Mexico', 
        '11 Total Mexico Entered 2000 or later', 
        '11 Total Other Central America', 
        '11 Total Other Central America 2000 or later', 
        '11 Total South America', 
        '11 Total South America Entered 2000 or later', 
        '11 Total Other areas', 
        '11 Total Other areas Entered 2000 or later', 
        '19 Total Population', 
                 '19 Total Foreign Born',
                 '19 Total Entered 2010 or later', 
                 '19 Europe', 
                 '19 Europe Entered 2010 or later', 
                 '19 Asia', 
                 '19 Asia Entered 2010 or later', 
                 '19 Latin America', 
                 '19 Caribbean', 
                 '19 Caribbean entered 2010 or later', 
                 '19 Central America', 
                 '19 Mexico', 
                 '19 Mexico Entered 2010 or later', 
                 '19 Central America', 
                 '19 Central America Entered 2010 or later', 
                 '19 South America', 
                 '19 South America Entered 2010 or later', 
                 '19 Other Areas', 
                 '19 Other Areas Entered 2010 or later', 
                 'Geometry']]

In [91]:
pd.set_option('display.max_columns', None)

In [92]:
merged.head()

,FIPS,Census Tract,11 Total Population,11 Total Foreign Born,11 Total Europe,11 Total Europe Entered 2000 or later,11 Total Asia,11 Total Asia Entered 2000 or later,11 Total Latin America,11 Total Caribbean,11 Total Caribbean Entered 2000 or later,11 Total Central America,11 Total Mexico,11 Total Mexico Entered 2000 or later,11 Total Other Central America,11 Total Other Central America 2000 or later,11 Total South America,11 Total South America Entered 2000 or later,11 Total Other areas,11 Total Other areas Entered 2000 or later,19 Total Population,19 Total Foreign Born,19 Total Entered 2010 or later,19 Europe,19 Europe Entered 2010 or later,19 Asia,19 Asia Entered 2010 or later,19 Latin America,19 Caribbean,19 Caribbean entered 2010 or later,19 Central America,19 Central America,19 Mexico,19 Mexico Entered 2010 or later,19 Central America,19 Central America,19 Central America Entered 2010 or later,19 South America,19 South America Entered 2010 or later,19 Other Areas,19 Other Areas Entered 2010 or later,Geometry
0,06037101110,"Census Tract 1011.10, Los Angeles, CA",5012,2027,93,15,1467,303,449,0,0,412,137,42,275,55,37,8,18,9,4283.0,1424.0,217.0,131.0,7.0,818.0,160.0,446.0,8.0,0.0,329.0,19.0,310.0,26.0,329.0,19.0,0.0,109.0,24.0,29.0,0.0,"MULTIPOLYGON (((-118.30229 34.25870, -118.3009..."
1,06037101122,"Census Tract 1011.22, Los Angeles, CA",3584,1254,144,0,1026,87,66,8,0,46,34,0,12,0,12,0,18,0,3405.0,810.0,45.0,75.0,10.0,690.0,35.0,24.0,0.0,0.0,24.0,24.0,0.0,0.0,24.0,24.0,0.0,0.0,0.0,21.0,0.0,"MULTIPOLYGON (((-118.30334 34.27371, -118.3033..."
2,06037101210,"Census Tract 1012.10, Los Angeles, CA",6529,3471,39,0,1919,561,1458,0,0,1420,710,65,710,512,38,0,55,30,6347.0,3167.0,271.0,96.0,17.0,1846.0,181.0,1137.0,19.0,0.0,1004.0,505.0,499.0,0.0,1004.0,505.0,73.0,114.0,0.0,88.0,0.0,"MULTIPOLYGON (((-118.29945 34.25598, -118.2979..."
3,06037101220,"Census Tract 1012.20, Los Angeles, CA",2751,1242,61,0,673,98,437,10,0,419,313,78,106,0,8,0,71,71,3702.0,1749.0,184.0,149.0,7.0,1063.0,152.0,519.0,41.0,0.0,470.0,136.0,334.0,0.0,470.0,136.0,25.0,8.0,0.0,18.0,0.0,"MULTIPOLYGON (((-118.28593 34.25227, -118.2859..."
4,06037101300,"Census Tract 1013, Los Angeles, CA",4123,1374,97,0,1168,141,62,0,0,22,22,0,0,0,40,0,47,15,3884.0,1658.0,192.0,119.0,0.0,1346.0,192.0,110.0,0.0,0.0,83.0,56.0,27.0,0.0,83.0,56.0,0.0,27.0,0.0,83.0,0.0,"MULTIPOLYGON (((-118.27822 34.25068, -118.2782..."

In [96]:
merged.columns = ['FIPS', 
                  'Census Tract', 
                  '11 Total Population', 
                  '11 Total Foreign Born', 
                  '11 Europe', 
                  '11 Europe Entered 2000 or later', 
                  '11 Asia', 
                  '11 Asia Entered 2000 or later', 
                  '11 Latin America', 
                  '11 Caribbean', 
                  '11 Caribbean Entered 2000 or later', 
                  '11 Central America', 
                  '11 Mexico',
                  '11 Mexico Entered 2000 or later', 
                  '11 Other Central America', 
                  '11 Other Central America 2000 or later', 
                  '11 South America', 
                  '11 South America Entered 2000 or later', 
                  '11 Other areas', 
                  '11 Other areas Entered 2000 or later', 
                  '19 Total Population', 
                  '19 Total Foreign Born', 
                  '19 Total Entered 2010 or later', 
                  '19 Europe', 
                  '19 Europe Entered 2010 or later', 
                  '19 Asia', 
                  '19 Asia Entered 2010 or later', 
                  '19 Latin America', 
                  '19 Caribbean', 
                  '19 Caribbean entered 2010 or later', 
                  '19 Central America', 
                  '19 Central America', 
                  '19 Mexico', 
                  '19 Mexico Entered 2010 or later', 
                  '19 Central America', 
                  '19 Central America', 
                  '19 Central America Entered 2010 or later', 
                  '19 South America', 
                  '19 South America Entered 2010 or later', 
                  '19 Other Areas', 
                  '19 Other Areas Entered 2010 or later', 
                  'Geometry']

In [97]:
merged.head()

,FIPS,Census Tract,11 Total Population,11 Total Foreign Born,11 Europe,11 Europe Entered 2000 or later,11 Asia,11 Asia Entered 2000 or later,11 Latin America,11 Caribbean,11 Caribbean Entered 2000 or later,11 Central America,11 Mexico,11 Mexico Entered 2000 or later,11 Other Central America,11 Other Central America 2000 or later,11 South America,11 South America Entered 2000 or later,11 Other areas,11 Other areas Entered 2000 or later,19 Total Population,19 Total Foreign Born,19 Total Entered 2010 or later,19 Europe,19 Europe Entered 2010 or later,19 Asia,19 Asia Entered 2010 or later,19 Latin America,19 Caribbean,19 Caribbean entered 2010 or later,19 Central America,19 Central America,19 Mexico,19 Mexico Entered 2010 or later,19 Central America,19 Central America,19 Central America Entered 2010 or later,19 South America,19 South America Entered 2010 or later,19 Other Areas,19 Other Areas Entered 2010 or later,Geometry
0,06037101110,"Census Tract 1011.10, Los Angeles, CA",5012,2027,93,15,1467,303,449,0,0,412,137,42,275,55,37,8,18,9,4283.0,1424.0,217.0,131.0,7.0,818.0,160.0,446.0,8.0,0.0,329.0,19.0,310.0,26.0,329.0,19.0,0.0,109.0,24.0,29.0,0.0,"MULTIPOLYGON (((-118.30229 34.25870, -118.3009..."
1,06037101122,"Census Tract 1011.22, Los Angeles, CA",3584,1254,144,0,1026,87,66,8,0,46,34,0,12,0,12,0,18,0,3405.0,810.0,45.0,75.0,10.0,690.0,35.0,24.0,0.0,0.0,24.0,24.0,0.0,0.0,24.0,24.0,0.0,0.0,0.0,21.0,0.0,"MULTIPOLYGON (((-118.30334 34.27371, -118.3033..."
2,06037101210,"Census Tract 1012.10, Los Angeles, CA",6529,3471,39,0,1919,561,1458,0,0,1420,710,65,710,512,38,0,55,30,6347.0,3167.0,271.0,96.0,17.0,1846.0,181.0,1137.0,19.0,0.0,1004.0,505.0,499.0,0.0,1004.0,505.0,73.0,114.0,0.0,88.0,0.0,"MULTIPOLYGON (((-118.29945 34.25598, -118.2979..."
3,06037101220,"Census Tract 1012.20, Los Angeles, CA",2751,1242,61,0,673,98,437,10,0,419,313,78,106,0,8,0,71,71,3702.0,1749.0,184.0,149.0,7.0,1063.0,152.0,519.0,41.0,0.0,470.0,136.0,334.0,0.0,470.0,136.0,25.0,8.0,0.0,18.0,0.0,"MULTIPOLYGON (((-118.28593 34.25227, -118.2859..."
4,06037101300,"Census Tract 1013, Los Angeles, CA",4123,1374,97,0,1168,141,62,0,0,22,22,0,0,0,40,0,47,15,3884.0,1658.0,192.0,119.0,0.0,1346.0,192.0,110.0,0.0,0.0,83.0,56.0,27.0,0.0,83.0,56.0,0.0,27.0,0.0,83.0,0.0,"MULTIPOLYGON (((-118.27822 34.25068, -118.2782..."

In [ ]:
gdf = acs19

In [ ]:
# Ok let's take a stab at making a function to trim our data to give us the above table for each station

def stn_chart19(stationname,fips1,fips2,fips3,fips4): 
    # Using .isin to single out the rows we want
    df = gdf[gdf["FIPS"].isin([fips1,fips2,fips3,fips4])] 
    
    # Creating our sum row
    df = df.append(df.sum(numeric_only=True), ignore_index=True)

    # Keeping only summation row
    df = df.iloc[-1:]
    
    # Creating percentages
    df['Percent Foreign Born'] = df['19 Total Foreign Born']/df['19 Total Population']*100
    df['Percent From Europe'] = df['19 Europe']/df['19 Total Foreign Born']*100
    df['Percent From Europe Entered 2010 or later'] = df['19 Europe Entered 2010 or later']/df['Total Foreign Born']*100
    df['Percent From Asia'] = df['Asia']/df['Total Foreign Born']*100
    df['Percent From Asia Entered 2010 or later'] = df['Asia Entered 2010 or later']/df['Total Foreign Born']*100
    df['Percent From Latin America'] = df['Latin America']/df['Total Foreign Born']*100
    df['Percent From Latin America Entered 2010 or later'] = df['Latin America Entered 2010 or later']/df['Total Foreign Born']*100
    df['Percent From Caribbean'] = df['Caribbean']/df['Total Foreign Born']*100
    df['Percent From Caribbean Entered 2010 or later'] = df['Caribbean Entered 2010 or later']/df['Total Foreign Born']*100
    df['Percent From Central America'] = df['Central America']/df['Total Foreign Born']*100
    df['Percent From Mexico'] = df['Mexico']/df['Total Foreign Born']*100
    df['Percent From Mexico Entered 2010 or later'] = df['Mexico Entered 2010 or later']/df['Total Foreign Born']*100
    df['Percent From Other Central America'] = df['Other Central America']/df['Total Foreign Born']*100
    df['Percent From Other Central America Entered 2010 or later'] = df['Other Central America Entered 2010 or later']/df['Total Foreign Born']*100
    df['Percent From South America'] = df['South America']/df['Total Foreign Born']*100
    df['Percent From South America Entered 2010 or later'] = df['South America Entered 2010 or later']/df['Total Foreign Born']*100
    df['Percent From Other Areas'] = df['Other Areas Entered 2010 or later']/df['Total Foreign Born']*100
        
        
    # Flipping rows and columns
    df = df.transpose()
    
    # Reseting index
    df = df.reset_index()
    
    # Renaming columns
    df.columns = ['Country of Origin', 'Percentage']
    
    display(df)
    
    # Plotting
    
    graph = px.bar(df, x="Region of Origin", y="Percentage", 
                    title=stationname + " " + "Station Foreign Born Population Breakdown"
        )
    
    display(graph)

In [ ]:
stn_trim(stationname = 'Del Mar',fips1 = '06037461902',fips2 = '06037463602',fips3 = '06037463700',fips4 = ' ')

In [ ]:
stn_trim(stationname = 'Chinatown',geoid1 = '06037206010',geoid2 = '06037207103',geoid3 = '06037207102',geoid4 = '06037206020')