In [1]:
import pandas as pd

import geopandas as gpd

import contextily as ctx

import matplotlib.pyplot as plt

/opt/conda/lib/python3.9/site-packages/geopandas/_compat.py:106: UserWarning: The Shapely GEOS version (3.9.1-CAPI-1.14.2) is incompatible with the GEOS version PyGEOS was compiled with (3.10.1-CAPI-1.16.0). Conversions between both will be slow.
  warnings.warn(

In [2]:
gdf = gpd.read_file('acs2019_5yr_B05015_14000US06037222001.geojson')

In [9]:
df = gpd.read_file('acs2019_5yr_B01003_14000US06037222001.geojson')

In [10]:
df.head()

,geoid,name,B01003001,"B01003001, Error",geometry
0,05000US06037,"Los Angeles County, CA",10081570.0,0.0,"MULTIPOLYGON (((-118.70339 34.16859, -118.7033..."
1,14000US06037101110,"Census Tract 1011.10, Los Angeles, CA",4283.0,443.0,"MULTIPOLYGON (((-118.30229 34.25870, -118.3009..."
2,14000US06037101122,"Census Tract 1011.22, Los Angeles, CA",3405.0,334.0,"MULTIPOLYGON (((-118.30334 34.27371, -118.3033..."
3,14000US06037101210,"Census Tract 1012.10, Los Angeles, CA",6347.0,484.0,"MULTIPOLYGON (((-118.29945 34.25598, -118.2979..."
4,14000US06037101220,"Census Tract 1012.20, Los Angeles, CA",3702.0,276.0,"MULTIPOLYGON (((-118.28593 34.25227, -118.2859..."

In [11]:
gdf.head()

,geoid,name,B05015001,"B05015001, Error",B05015002,"B05015002, Error",B05015003,"B05015003, Error",B05015004,"B05015004, Error",...,"B05015027, Error",B05015028,"B05015028, Error",B05015029,"B05015029, Error",B05015030,"B05015030, Error",B05015031,"B05015031, Error",geometry
0,05000US06037,"Los Angeles County, CA",3430507.0,14119.0,288054.0,4584.0,76162.0,2634.0,211892.0,3307.0,...,1076.0,87568.0,2277.0,989775.0,8062.0,173834.0,3797.0,815941.0,6993.0,"MULTIPOLYGON (((-118.70339 34.16859, -118.7033..."
1,14000US06037101110,"Census Tract 1011.10, Los Angeles, CA",1424.0,326.0,13.0,25.0,0.0,12.0,13.0,25.0,...,12.0,0.0,12.0,910.0,256.0,130.0,79.0,780.0,249.0,"MULTIPOLYGON (((-118.30229 34.25870, -118.3009..."
2,14000US06037101122,"Census Tract 1011.22, Los Angeles, CA",810.0,180.0,0.0,12.0,0.0,12.0,0.0,12.0,...,12.0,0.0,12.0,690.0,149.0,36.0,36.0,654.0,140.0,"MULTIPOLYGON (((-118.30334 34.27371, -118.3033..."
3,14000US06037101210,"Census Tract 1012.10, Los Angeles, CA",3167.0,438.0,0.0,17.0,0.0,17.0,0.0,17.0,...,17.0,0.0,17.0,2054.0,299.0,198.0,182.0,1856.0,279.0,"MULTIPOLYGON (((-118.29945 34.25598, -118.2979..."
4,14000US06037101220,"Census Tract 1012.20, Los Angeles, CA",1749.0,251.0,0.0,12.0,0.0,12.0,0.0,12.0,...,12.0,0.0,12.0,1120.0,252.0,147.0,118.0,973.0,226.0,"MULTIPOLYGON (((-118.28593 34.25227, -118.2859..."

In [12]:
list(gdf)

['geoid',
 'name',
 'B05015001',
 'B05015001, Error',
 'B05015002',
 'B05015002, Error',
 'B05015003',
 'B05015003, Error',
 'B05015004',
 'B05015004, Error',
 'B05015005',
 'B05015005, Error',
 'B05015006',
 'B05015006, Error',
 'B05015007',
 'B05015007, Error',
 'B05015008',
 'B05015008, Error',
 'B05015009',
 'B05015009, Error',
 'B05015010',
 'B05015010, Error',
 'B05015011',
 'B05015011, Error',
 'B05015012',
 'B05015012, Error',
 'B05015013',
 'B05015013, Error',
 'B05015014',
 'B05015014, Error',
 'B05015015',
 'B05015015, Error',
 'B05015016',
 'B05015016, Error',
 'B05015017',
 'B05015017, Error',
 'B05015018',
 'B05015018, Error',
 'B05015019',
 'B05015019, Error',
 'B05015020',
 'B05015020, Error',
 'B05015021',
 'B05015021, Error',
 'B05015022',
 'B05015022, Error',
 'B05015023',
 'B05015023, Error',
 'B05015024',
 'B05015024, Error',
 'B05015025',
 'B05015025, Error',
 'B05015026',
 'B05015026, Error',
 'B05015027',
 'B05015027, Error',
 'B05015028',
 'B05015028, Error',
 'B05015029',
 'B05015029, Error',
 'B05015030',
 'B05015030, Error',
 'B05015031',
 'B05015031, Error',
 'geometry']

In [13]:
columns_to_keep =['geoid',
 'name',
 'B05015001',
 'B05015002',
 'B05015003',
 'B05015004',
 'B05015005',
 'B05015006',
 'B05015007',
 'B05015008',
 'B05015009',
 'B05015010',
 'B05015011',
 'B05015012',
 'B05015013',
 'B05015014',
 'B05015015',
 'B05015016',
 'B05015017',
 'B05015018',
 'B05015019',
 'B05015020',
 'B05015021',
 'B05015022',
 'B05015023',
 'B05015024',
 'B05015025',
 'B05015026',
 'B05015027',
 'B05015028',
 'B05015029',
 'B05015030',
 'B05015031',
 'geometry']

In [14]:
gdf = gdf[columns_to_keep]

In [15]:
gdf

,geoid,name,B05015001,B05015002,B05015003,B05015004,B05015005,B05015006,B05015007,B05015008,...,B05015023,B05015024,B05015025,B05015026,B05015027,B05015028,B05015029,B05015030,B05015031,geometry
0,05000US06037,"Los Angeles County, CA",3430507.0,288054.0,76162.0,211892.0,17332.0,1356.0,15976.0,12687.0,...,239804.0,31931.0,207873.0,98409.0,10841.0,87568.0,989775.0,173834.0,815941.0,"MULTIPOLYGON (((-118.70339 34.16859, -118.7033..."
1,14000US06037101110,"Census Tract 1011.10, Los Angeles, CA",1424.0,13.0,0.0,13.0,8.0,0.0,8.0,0.0,...,172.0,61.0,111.0,0.0,0.0,0.0,910.0,130.0,780.0,"MULTIPOLYGON (((-118.30229 34.25870, -118.3009..."
2,14000US06037101122,"Census Tract 1011.22, Los Angeles, CA",810.0,0.0,0.0,0.0,0.0,0.0,0.0,18.0,...,78.0,0.0,78.0,0.0,0.0,0.0,690.0,36.0,654.0,"MULTIPOLYGON (((-118.30334 34.27371, -118.3033..."
3,14000US06037101210,"Census Tract 1012.10, Los Angeles, CA",3167.0,0.0,0.0,0.0,0.0,0.0,0.0,53.0,...,76.0,0.0,76.0,0.0,0.0,0.0,2054.0,198.0,1856.0,"MULTIPOLYGON (((-118.29945 34.25598, -118.2979..."
4,14000US06037101220,"Census Tract 1012.20, Los Angeles, CA",1749.0,0.0,0.0,0.0,29.0,0.0,29.0,36.0,...,79.0,12.0,67.0,0.0,0.0,0.0,1120.0,147.0,973.0,"MULTIPOLYGON (((-118.28593 34.25227, -118.2859..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2342,14000US06037980031,"Census Tract 9800.31, Los Angeles, CA",146.0,0.0,0.0,0.0,10.0,0.0,10.0,0.0,...,11.0,0.0,11.0,0.0,0.0,0.0,37.0,0.0,37.0,"MULTIPOLYGON (((-118.29105 33.75378, -118.2905..."
2343,14000US06037980033,"Census Tract 9800.33, Los Angeles, CA",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"MULTIPOLYGON (((-118.24897 33.75590, -118.2470..."
2344,14000US06037990100,"Census Tract 9901, Los Angeles, CA",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"MULTIPOLYGON (((-118.95114 33.99643, -118.9505..."
2345,14000US06037990200,"Census Tract 9902, Los Angeles, CA",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"MULTIPOLYGON (((-118.63598 34.03255, -118.6325..."
2346,14000US06037990300,"Census Tract 9903, Los Angeles, CA",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"MULTIPOLYGON (((-118.47656 33.75038, -118.4661..."

In [16]:
gdf.columns = ['geoid',
 'name',
'Total',
'China, Hong Kong, and Taiwan',
'Entered 2010 or later',
'Entered before 2010',
'Cuba',
'Entered 2010 ord later',
'Entered before 2010',
'Dominican Republic',
'Entered 2010 or later',
'Entered before 2010',
'El Salvador',
'Entered 2010 or later',
'Entered before 2010',
'Guatemala',
'Entered 2010 or later',
'Entered before 2010',
'India',
'Entered 2010 or later',
'Entered before 2010',
'Mexico',
'Entered 2010 or later',
'Entered before 2010',
'Philippines',
'Entered 2010 or later',
'Entered before 2010',
'Vietnam',
'Entered 2010 or later',
'Entered before 2010',
'All Other Countries',
'Entered 2010 or later',
'Entered before 2010',
'geometry']

In [17]:
gdf.head()

,geoid,name,Total,"China, Hong Kong, and Taiwan",Entered 2010 or later,Entered before 2010,Cuba,Entered 2010 or later,Entered before 2010,Dominican Republic,...,Philippines,Entered 2010 or later,Entered before 2010,Vietnam,Entered 2010 or later,Entered before 2010,All Other Countries,Entered 2010 or later,Entered before 2010,geometry
0,05000US06037,"Los Angeles County, CA",3430507.0,288054.0,76162.0,211892.0,17332.0,1356.0,15976.0,12687.0,...,239804.0,31931.0,207873.0,98409.0,10841.0,87568.0,989775.0,173834.0,815941.0,"MULTIPOLYGON (((-118.70339 34.16859, -118.7033..."
1,14000US06037101110,"Census Tract 1011.10, Los Angeles, CA",1424.0,13.0,0.0,13.0,8.0,0.0,8.0,0.0,...,172.0,61.0,111.0,0.0,0.0,0.0,910.0,130.0,780.0,"MULTIPOLYGON (((-118.30229 34.25870, -118.3009..."
2,14000US06037101122,"Census Tract 1011.22, Los Angeles, CA",810.0,0.0,0.0,0.0,0.0,0.0,0.0,18.0,...,78.0,0.0,78.0,0.0,0.0,0.0,690.0,36.0,654.0,"MULTIPOLYGON (((-118.30334 34.27371, -118.3033..."
3,14000US06037101210,"Census Tract 1012.10, Los Angeles, CA",3167.0,0.0,0.0,0.0,0.0,0.0,0.0,53.0,...,76.0,0.0,76.0,0.0,0.0,0.0,2054.0,198.0,1856.0,"MULTIPOLYGON (((-118.29945 34.25598, -118.2979..."
4,14000US06037101220,"Census Tract 1012.20, Los Angeles, CA",1749.0,0.0,0.0,0.0,29.0,0.0,29.0,36.0,...,79.0,12.0,67.0,0.0,0.0,0.0,1120.0,147.0,973.0,"MULTIPOLYGON (((-118.28593 34.25227, -118.2859..."

In [18]:
gdf = gdf.drop([0])

In [19]:
delmar = gdf[gdf["geoid"].isin(['14000US06037461902', 
                                '14000US06037462202', 
                                '14000US06037463601', 
                                '14000US06037463602', 
                                '14000US06037463700', 
                                '14000US06037463900', 
                                '14000US06037464000']
)
            ]

In [20]:
delmar.head()

,geoid,name,Total,"China, Hong Kong, and Taiwan",Entered 2010 or later,Entered before 2010,Cuba,Entered 2010 or later,Entered before 2010,Dominican Republic,...,Philippines,Entered 2010 or later,Entered before 2010,Vietnam,Entered 2010 or later,Entered before 2010,All Other Countries,Entered 2010 or later,Entered before 2010,geometry
1362,14000US06037461902,"Census Tract 4619.02, Los Angeles, CA",586.0,285.0,148.0,137.0,0.0,0.0,0.0,0.0,...,27.0,0.0,27.0,11.0,0.0,11.0,228.0,110.0,118.0,"MULTIPOLYGON (((-118.15570 34.14973, -118.1554..."
1367,14000US06037462202,"Census Tract 4622.02, Los Angeles, CA",1003.0,198.0,80.0,118.0,8.0,0.0,8.0,0.0,...,11.0,4.0,7.0,29.0,0.0,29.0,669.0,430.0,239.0,"MULTIPOLYGON (((-118.14147 34.14940, -118.1414..."
1383,14000US06037463601,"Census Tract 4636.01, Los Angeles, CA",1824.0,693.0,346.0,347.0,0.0,0.0,0.0,19.0,...,65.0,0.0,65.0,10.0,0.0,10.0,693.0,221.0,472.0,"MULTIPOLYGON (((-118.14145 34.14584, -118.1397..."
1384,14000US06037463602,"Census Tract 4636.02, Los Angeles, CA",1926.0,509.0,144.0,365.0,6.0,0.0,6.0,0.0,...,68.0,30.0,38.0,0.0,0.0,0.0,989.0,604.0,385.0,"MULTIPOLYGON (((-118.15046 34.14577, -118.1497..."
1385,14000US06037463700,"Census Tract 4637, Los Angeles, CA",602.0,191.0,68.0,123.0,0.0,0.0,0.0,0.0,...,32.0,0.0,32.0,0.0,0.0,0.0,308.0,58.0,250.0,"MULTIPOLYGON (((-118.16776 34.14147, -118.1676..."

In [21]:
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

In [22]:
list(df)

['geoid', 'name', 'B01003001', 'B01003001, Error', 'geometry']

In [23]:
df.head()

,geoid,name,B01003001,"B01003001, Error",geometry
0,05000US06037,"Los Angeles County, CA",10081570.0,0.0,"MULTIPOLYGON (((-118.70339 34.16859, -118.7033..."
1,14000US06037101110,"Census Tract 1011.10, Los Angeles, CA",4283.0,443.0,"MULTIPOLYGON (((-118.30229 34.25870, -118.3009..."
2,14000US06037101122,"Census Tract 1011.22, Los Angeles, CA",3405.0,334.0,"MULTIPOLYGON (((-118.30334 34.27371, -118.3033..."
3,14000US06037101210,"Census Tract 1012.10, Los Angeles, CA",6347.0,484.0,"MULTIPOLYGON (((-118.29945 34.25598, -118.2979..."
4,14000US06037101220,"Census Tract 1012.20, Los Angeles, CA",3702.0,276.0,"MULTIPOLYGON (((-118.28593 34.25227, -118.2859..."

In [24]:
df_columns_keep = ['geoid', 'name', 'B01003001', 'geometry']

In [25]:
df = df_columns_keep

In [27]:
df

['geoid', 'name', 'B01003001', 'geometry']

In [28]:
df = gpd.read_file('acs2019_5yr_B01003_14000US06037222001.geojson')

In [29]:
df.head()

,geoid,name,B01003001,"B01003001, Error",geometry
0,05000US06037,"Los Angeles County, CA",10081570.0,0.0,"MULTIPOLYGON (((-118.70339 34.16859, -118.7033..."
1,14000US06037101110,"Census Tract 1011.10, Los Angeles, CA",4283.0,443.0,"MULTIPOLYGON (((-118.30229 34.25870, -118.3009..."
2,14000US06037101122,"Census Tract 1011.22, Los Angeles, CA",3405.0,334.0,"MULTIPOLYGON (((-118.30334 34.27371, -118.3033..."
3,14000US06037101210,"Census Tract 1012.10, Los Angeles, CA",6347.0,484.0,"MULTIPOLYGON (((-118.29945 34.25598, -118.2979..."
4,14000US06037101220,"Census Tract 1012.20, Los Angeles, CA",3702.0,276.0,"MULTIPOLYGON (((-118.28593 34.25227, -118.2859..."

In [30]:
df_columns_keep = ['geoid', 'name', 'B01003001', 'geometry']

In [31]:
df = df[df_columns_keep]

In [32]:
df.head()

,geoid,name,B01003001,geometry
0,05000US06037,"Los Angeles County, CA",10081570.0,"MULTIPOLYGON (((-118.70339 34.16859, -118.7033..."
1,14000US06037101110,"Census Tract 1011.10, Los Angeles, CA",4283.0,"MULTIPOLYGON (((-118.30229 34.25870, -118.3009..."
2,14000US06037101122,"Census Tract 1011.22, Los Angeles, CA",3405.0,"MULTIPOLYGON (((-118.30334 34.27371, -118.3033..."
3,14000US06037101210,"Census Tract 1012.10, Los Angeles, CA",6347.0,"MULTIPOLYGON (((-118.29945 34.25598, -118.2979..."
4,14000US06037101220,"Census Tract 1012.20, Los Angeles, CA",3702.0,"MULTIPOLYGON (((-118.28593 34.25227, -118.2859..."

In [33]:
df.columns = ['geoid', 'name', 'total population', 'geometry']

In [34]:
df.head()

,geoid,name,total population,geometry
0,05000US06037,"Los Angeles County, CA",10081570.0,"MULTIPOLYGON (((-118.70339 34.16859, -118.7033..."
1,14000US06037101110,"Census Tract 1011.10, Los Angeles, CA",4283.0,"MULTIPOLYGON (((-118.30229 34.25870, -118.3009..."
2,14000US06037101122,"Census Tract 1011.22, Los Angeles, CA",3405.0,"MULTIPOLYGON (((-118.30334 34.27371, -118.3033..."
3,14000US06037101210,"Census Tract 1012.10, Los Angeles, CA",6347.0,"MULTIPOLYGON (((-118.29945 34.25598, -118.2979..."
4,14000US06037101220,"Census Tract 1012.20, Los Angeles, CA",3702.0,"MULTIPOLYGON (((-118.28593 34.25227, -118.2859..."

In [35]:
delmar_t = df[df["geoid"].isin(['14000US06037461902', 
                                '14000US06037462202', 
                                '14000US06037463601', 
                                '14000US06037463602', 
                                '14000US06037463700', 
                                '14000US06037463900', 
                                '14000US06037464000']
)
            ]

In [36]:
delmar_t

,geoid,name,total population,geometry
1362,14000US06037461902,"Census Tract 4619.02, Los Angeles, CA",1801.0,"MULTIPOLYGON (((-118.15570 34.14973, -118.1554..."
1367,14000US06037462202,"Census Tract 4622.02, Los Angeles, CA",2775.0,"MULTIPOLYGON (((-118.14147 34.14940, -118.1414..."
1383,14000US06037463601,"Census Tract 4636.01, Los Angeles, CA",5988.0,"MULTIPOLYGON (((-118.14145 34.14584, -118.1397..."
1384,14000US06037463602,"Census Tract 4636.02, Los Angeles, CA",6057.0,"MULTIPOLYGON (((-118.15046 34.14577, -118.1497..."
1385,14000US06037463700,"Census Tract 4637, Los Angeles, CA",3138.0,"MULTIPOLYGON (((-118.16776 34.14147, -118.1676..."
1387,14000US06037463900,"Census Tract 4639, Los Angeles, CA",3290.0,"MULTIPOLYGON (((-118.16805 34.12392, -118.1677..."
1388,14000US06037464000,"Census Tract 4640, Los Angeles, CA",5623.0,"MULTIPOLYGON (((-118.15038 34.13577, -118.1495..."

In [37]:
delmar

,geoid,name,Total,"China, Hong Kong, and Taiwan",Entered 2010 or later,Entered before 2010,Cuba,Entered 2010 or later,Entered before 2010,Dominican Republic,Entered 2010 or later,Entered before 2010,El Salvador,Entered 2010 or later,Entered before 2010,Guatemala,Entered 2010 or later,Entered before 2010,India,Entered 2010 or later,Entered before 2010,Mexico,Entered 2010 or later,Entered before 2010,Philippines,Entered 2010 or later,Entered before 2010,Vietnam,Entered 2010 or later,Entered before 2010,All Other Countries,Entered 2010 or later,Entered before 2010,geometry
1362,14000US06037461902,"Census Tract 4619.02, Los Angeles, CA",586.0,285.0,148.0,137.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,7.0,7.0,0.0,28.0,0.0,28.0,27.0,0.0,27.0,11.0,0.0,11.0,228.0,110.0,118.0,"MULTIPOLYGON (((-118.15570 34.14973, -118.1554..."
1367,14000US06037462202,"Census Tract 4622.02, Los Angeles, CA",1003.0,198.0,80.0,118.0,8.0,0.0,8.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,70.0,21.0,49.0,18.0,8.0,10.0,11.0,4.0,7.0,29.0,0.0,29.0,669.0,430.0,239.0,"MULTIPOLYGON (((-118.14147 34.14940, -118.1414..."
1383,14000US06037463601,"Census Tract 4636.01, Los Angeles, CA",1824.0,693.0,346.0,347.0,0.0,0.0,0.0,19.0,19.0,0.0,19.0,0.0,19.0,53.0,0.0,53.0,182.0,114.0,68.0,90.0,14.0,76.0,65.0,0.0,65.0,10.0,0.0,10.0,693.0,221.0,472.0,"MULTIPOLYGON (((-118.14145 34.14584, -118.1397..."
1384,14000US06037463602,"Census Tract 4636.02, Los Angeles, CA",1926.0,509.0,144.0,365.0,6.0,0.0,6.0,0.0,0.0,0.0,97.0,0.0,97.0,0.0,0.0,0.0,180.0,21.0,159.0,77.0,19.0,58.0,68.0,30.0,38.0,0.0,0.0,0.0,989.0,604.0,385.0,"MULTIPOLYGON (((-118.15046 34.14577, -118.1497..."
1385,14000US06037463700,"Census Tract 4637, Los Angeles, CA",602.0,191.0,68.0,123.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,10.0,0.0,10.0,61.0,0.0,61.0,32.0,0.0,32.0,0.0,0.0,0.0,308.0,58.0,250.0,"MULTIPOLYGON (((-118.16776 34.14147, -118.1676..."
1387,14000US06037463900,"Census Tract 4639, Los Angeles, CA",624.0,174.0,83.0,91.0,32.0,0.0,32.0,0.0,0.0,0.0,9.0,0.0,9.0,9.0,0.0,9.0,0.0,0.0,0.0,71.0,0.0,71.0,38.0,13.0,25.0,11.0,0.0,11.0,280.0,0.0,280.0,"MULTIPOLYGON (((-118.16805 34.12392, -118.1677..."
1388,14000US06037464000,"Census Tract 4640, Los Angeles, CA",1037.0,397.0,191.0,206.0,13.0,13.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,6.0,0.0,6.0,27.0,0.0,27.0,75.0,0.0,75.0,88.0,0.0,88.0,19.0,0.0,19.0,412.0,105.0,307.0,"MULTIPOLYGON (((-118.15038 34.13577, -118.1495..."

In [38]:
delmar_t

                geoid total population
0  14000US06037461902           1801.0
1  14000US06037462202           2775.0
2  14000US06037463601           5988.0
3  14000US06037463602           6057.0
4  14000US06037463700           3138.0
5  14000US06037463900           3290.0
6  14000US06037464000           5623.0

In [ ]:
delmar_t = pd.DataFrame({'geoid': ['14000US06037461902', 
                                '14000US06037462202', 
                                '14000US06037463601', 
                                '14000US06037463602', 
                                '14000US06037463700', 
                                '14000US06037463900', 
                                '14000US06037464000'],
                    'total population': ['1801.0', '2775.0', '5988.0', '6057.0', '3138.0', '3290.0', '5623.0']})
display('delmar', 'delmar_t', 'pd.merge(delmar, delmar_t)')

'delmar'

'delmar_t'

'pd.merge(delmar, delmar_t)'

In [46]:
delmar_f = pd.merge(delmar, delmar_t)

In [47]:
delmar_f

,geoid,name,Total,"China, Hong Kong, and Taiwan",Entered 2010 or later,Entered before 2010,Cuba,Entered 2010 or later,Entered before 2010,Dominican Republic,Entered 2010 or later,Entered before 2010,El Salvador,Entered 2010 or later,Entered before 2010,Guatemala,Entered 2010 or later,Entered before 2010,India,Entered 2010 or later,Entered before 2010,Mexico,Entered 2010 or later,Entered before 2010,Philippines,Entered 2010 or later,Entered before 2010,Vietnam,Entered 2010 or later,Entered before 2010,All Other Countries,Entered 2010 or later,Entered before 2010,geometry,total population
0,14000US06037461902,"Census Tract 4619.02, Los Angeles, CA",586.0,285.0,148.0,137.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,7.0,7.0,0.0,28.0,0.0,28.0,27.0,0.0,27.0,11.0,0.0,11.0,228.0,110.0,118.0,"MULTIPOLYGON (((-118.15570 34.14973, -118.1554...",1801.0
1,14000US06037462202,"Census Tract 4622.02, Los Angeles, CA",1003.0,198.0,80.0,118.0,8.0,0.0,8.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,70.0,21.0,49.0,18.0,8.0,10.0,11.0,4.0,7.0,29.0,0.0,29.0,669.0,430.0,239.0,"MULTIPOLYGON (((-118.14147 34.14940, -118.1414...",2775.0
2,14000US06037463601,"Census Tract 4636.01, Los Angeles, CA",1824.0,693.0,346.0,347.0,0.0,0.0,0.0,19.0,19.0,0.0,19.0,0.0,19.0,53.0,0.0,53.0,182.0,114.0,68.0,90.0,14.0,76.0,65.0,0.0,65.0,10.0,0.0,10.0,693.0,221.0,472.0,"MULTIPOLYGON (((-118.14145 34.14584, -118.1397...",5988.0
3,14000US06037463602,"Census Tract 4636.02, Los Angeles, CA",1926.0,509.0,144.0,365.0,6.0,0.0,6.0,0.0,0.0,0.0,97.0,0.0,97.0,0.0,0.0,0.0,180.0,21.0,159.0,77.0,19.0,58.0,68.0,30.0,38.0,0.0,0.0,0.0,989.0,604.0,385.0,"MULTIPOLYGON (((-118.15046 34.14577, -118.1497...",6057.0
4,14000US06037463700,"Census Tract 4637, Los Angeles, CA",602.0,191.0,68.0,123.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,10.0,0.0,10.0,61.0,0.0,61.0,32.0,0.0,32.0,0.0,0.0,0.0,308.0,58.0,250.0,"MULTIPOLYGON (((-118.16776 34.14147, -118.1676...",3138.0
5,14000US06037463900,"Census Tract 4639, Los Angeles, CA",624.0,174.0,83.0,91.0,32.0,0.0,32.0,0.0,0.0,0.0,9.0,0.0,9.0,9.0,0.0,9.0,0.0,0.0,0.0,71.0,0.0,71.0,38.0,13.0,25.0,11.0,0.0,11.0,280.0,0.0,280.0,"MULTIPOLYGON (((-118.16805 34.12392, -118.1677...",3290.0
6,14000US06037464000,"Census Tract 4640, Los Angeles, CA",1037.0,397.0,191.0,206.0,13.0,13.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,6.0,0.0,6.0,27.0,0.0,27.0,75.0,0.0,75.0,88.0,0.0,88.0,19.0,0.0,19.0,412.0,105.0,307.0,"MULTIPOLYGON (((-118.15038 34.13577, -118.1495...",5623.0